Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1117: add gitleaks for pre-commit secret scanning
  .lintstagedrc.json
  .lintstagedrc.mjs
  CONTRIBUTING.md
  mise.toml
Due: prettier --write

PAE-1138: move discovery docs
  docs/architecture/decisions/0002-registration-accreditation-form-database-schema.md
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/0021-idempotent-operations-and-retry-mechanisms.md
  docs/architecture/defined/auditing-updates-to-organisation.md
  docs/architecture/defined/epr-frontend-page-navigation.md
  docs/architecture/defined/forms-data-logical-data-model.md
  docs/architecture/defined/index.md
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/pepr-lld-auth-admin-ui.md
  docs/architecture/defined/pepr-lld-auth-api.md
  docs/architecture/defined/pepr-lld-auth-ui.md
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/summary-log-processing-failure-handling.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/defined/summary-log-validation-failure-codes.md
  docs/architecture/defined/summary-log-validation-lld.md
  docs/architecture/discovery/index.md
  docs/architecture/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1117: add gitleaks for pre-commit secret scanning (#98)
  .lintstagedrc.json
  .lintstagedrc.mjs
  CONTRIBUTING.md
  mise.toml
Due: prettier --write

PAE-1140: add performance tests
  .gitmodules
Due: none

upgrade node@lts
  .nvmrc
  mise.toml
  package-lock.json
  package.json
Due: prettier --write

Remove FEATURE_FLAG_SQS_COMMANDS and PISCINA_MAX_THREADS from compose files
  compose.yml
Due: none

PAE-1138: move discovery docs (#99)
  docs/architecture/decisions/0002-registration-accreditation-form-database-schema.md
  docs/architecture/decisions/0005-admin-ui-adr.md
  docs/architecture/decisions/0021-idempotent-operations-and-retry-mechanisms.md
  docs/architecture/defined/auditing-updates-to-organisation.md
  docs/architecture/defined/epr-frontend-page-navigation.md
  docs/architecture/defined/forms-data-logical-data-model.md
  docs/architecture/defined/index.md
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/pepr-lld-auth-admin-ui.md
  docs/architecture/defined/pepr-lld-auth-api.md
  docs/architecture/defined/pepr-lld-auth-ui.md
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/summary-log-processing-failure-handling.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/defined/summary-log-validation-failure-codes.md
  docs/architecture/defined/summary-log-validation-lld.md
  docs/architecture/discovery/index.md
  docs/architecture/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-971: Remove FEATURE_FLAG_SQS_COMMANDS and PISCINA_MAX_THREADS from compose files (#97)
  compose.yml
Due: none

add workspaces and rename projects
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
Due: none

PAE-437: Adds cross-reference to authentication documentation for Admin UI
  CONTRIBUTING.md
  docs/architecture/defined/pepr-lld-auth-admin-ui.md
Due: prettier --write

PAE-437: Adds cross-reference to authentication documentation for Admin UI (#101)
  CONTRIBUTING.md
  docs/architecture/defined/pepr-lld-auth-admin-ui.md
Due: prettier --write

PAE-1105: Form submission API stub for local testing
  compose.yml
  compose/localstack/01-start-localstack.sh
  compose/wiremock/mappings/forms-api.json
Due: prettier --write

PAE-1140: add performance tests (as submodules) (#100)
  .gitmodules
  .nvmrc
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
  mise.toml
  package-lock.json
  package.json
Due: prettier --write

PAE-1105: split wire mock definition
  compose.yml
  compose/wire-mock/mappings/forms-file-link.json
  compose/wire-mock/mappings/health.json
  compose/wire-mock/mappings/oauth2-token.json
  compose/wiremock/mappings/forms-api.json
Due: prettier --write

PAE-1105: rename files
  compose/wire-mock/mappings/forms-api-file-download.json
  compose/wire-mock/mappings/forms-api-oauth2-token.json
Due: prettier --write

PAE-1105: Form submission API stub for local testing (#102)
  compose.yml
  compose/localstack/01-start-localstack.sh
  compose/wire-mock/mappings/forms-api-file-download.json
  compose/wire-mock/mappings/forms-api-oauth2-token.json
  compose/wire-mock/mappings/health.json
Due: prettier --write

chore: remove FEATURE_FLAG_PACKAGING_RECYCLING_NOTES feature flag
  compose.yml
Due: none

ADR 0027: single SQS queue for backend commands
  docs/architecture/decisions/0027-single-sqs-queue-for-backend-commands.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add upcoming queue-based features to ADR 0027 context
  docs/architecture/decisions/0027-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestion from @dansweeting
  docs/architecture/decisions/0027-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add modular monolith structure ADR (#52)
  docs/architecture/decisions/0027-modular-monolith-structure.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-763: add ORS management discovery documentation
  docs/architecture/discovery/index.md
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: note that import pipeline is reused from summary logs
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix Mermaid ERD syntax for GitHub rendering
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: clarify spreadsheet import is for initial seeding only
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: use shared command queue, not a dedicated ORS queue
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: flag DELETE semantics as undecided
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix upload diagrams to reflect CDP Uploader flow
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix review errors in ORS discovery doc
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix incorrect claim about CDP Uploader
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: rename command to import-overseas-sites
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix org update endpoint usage description
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: fix module structure to match integration branch
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: move import endpoints under /v1/overseas-sites/imports
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: expand Admin UI section with standalone ORS management pages
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: document site deduplication strategy
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: add audit logging and metrics requirements
  docs/architecture/discovery/ors-management.md
Due: prettier --write

PAE-763: remove year prefix from document title
  docs/architecture/discovery/ors-management.md
Due: prettier --write

Document ORS spreadsheet retention policy and CDP upload constraint
  docs/architecture/discovery/ors-management.md
Due: prettier --write
