Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1544: pin checkout to aged v6.0.2 for cooldown
  .github/actions/lint-types-tests/action.yml
  .github/actions/pr-preparation/action.yml
  .github/actions/renovate-docker/action.yml
  .github/workflows/check-pull-request.yml
  .github/workflows/renovate-docker.yml
Due: none

PAE-1544: add cooldown to github-actions dependabot updates
  .github/dependabot.yml
Due: none

PAE-1544: pin github actions to commit shas (#234)
  .github/actions/lint-types-tests/action.yml
  .github/actions/pr-preparation/action.yml
  .github/actions/renovate-docker/action.yml
  .github/dependabot.yml
  .github/workflows/check-pull-request.yml
  .github/workflows/renovate-docker.yml
Due: none

add service repo to all vscode workspace
  all.code-workspace
Due: none

PAE-1544: manage node versions via renovate + config validator
  .github/actions/renovate-docker/action.yml
  .github/workflows/check-pull-request.yml
  .lintstagedrc.mjs
  .nvmrc
  package-lock.json
  package.json
  renovate-presets/default.json
  renovate.json
Due: prettier --write

PAE-1544: manage node versions via renovate + config validator (#235)
  .github/actions/renovate-docker/action.yml
  .github/workflows/check-pull-request.yml
  .lintstagedrc.mjs
  .nvmrc
  all.code-workspace
  package-lock.json
  package.json
  renovate-presets/default.json
  renovate.json
Due: prettier --write

PAE-1544: pin node in mise + enable renovate mise manager
  mise.toml
  renovate.json
Due: prettier --write

PAE-1544: drop redundant engines.npm + ci npm-upgrade step
  .github/actions/lint-types-tests/action.yml
  .github/workflows/check-pull-request.yml
  package-lock.json
  package.json
Due: prettier --write

PAE-1544: node/npm toolchain tune-up (#236)
  .github/actions/lint-types-tests/action.yml
  .github/workflows/check-pull-request.yml
  mise.toml
  package-lock.json
  package.json
  renovate.json
Due: prettier --write

PAE-1382: Reconcile actor-shape note to the landed {id,name?,email?} shape
  docs/architecture/discovery/waste-balance-event-actor-shape.md
Due: prettier --write

PAE-1382: Correct PRN cancellation transition in LLD balance table
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Rework LLD waste balance section for the event-sourced stream (#228)
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Rework summary-log data flow for the event-sourced stream (#229)
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1557: Remove unused feature flags
  compose.yml
Due: none

PAE-1557: Remove unused feature flags (#248)
  compose.yml
Due: none

PAE-1560: Propose per-submission row snapshots committed by the stream
  docs/architecture/decisions/0037-per-submission-row-snapshots.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Derive snapshot address, expand alternatives
  docs/architecture/decisions/0037-per-submission-row-snapshots.md
Due: prettier --write, npm run adr:generate:toc

Replace snapshots with membership row states
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
  docs/architecture/decisions/0037-per-submission-row-snapshots.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Trim S3 snapshot emphasis to one alternative
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Keep template headers as keys, coerce defined fields
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Record why coercion happens at write time
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Mark existing behaviour as existing, not new
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Scope uncoerced-values failure to defined fields
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

PAE-1544: sync package-lock on renovate node bumps
  .github/actions/renovate-docker/action.yml
  package-lock.json
  renovate-presets/default.json
Due: prettier --write

PAE-1544: sync package-lock on renovate node bumps (#254)
  .github/actions/renovate-docker/action.yml
  package-lock.json
  renovate-presets/default.json
Due: prettier --write

Name check-page projection as stage-2 consumer
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Stamp waste-balance classification on row states
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Pin auth stub images, drop floating tag overrides
  compose.yml
  docs/guides/local-login.md
Due: prettier --write

PAE-1567: Pin auth stub images in local-dev compose (#260)
  compose.yml
  docs/guides/local-login.md
Due: prettier --write

Add worked example of committed row-state documents to ADR-0037
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

Mark ADR-0037 as accepted
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
Due: prettier --write, npm run adr:generate:toc

PAE-1560: Add ADR for committed row states (#253)
  docs/architecture/decisions/0037-committed-row-states-with-summary-log-membership.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

add entra-stub to all vscode workspace
  all.code-workspace
Due: none

PAE-1544: install node so renovate can regen package-lock
  .github/actions/renovate-docker/action.yml
  renovate-presets/default.json
Due: prettier --write

PAE-1544: install node so renovate can regen package-lock (#274)
  .github/actions/renovate-docker/action.yml
  renovate-presets/default.json
Due: prettier --write

bump setup-node to v6.4.0 and widen dependabot to composite actions
  .github/actions/renovate-docker/action.yml
  .github/dependabot.yml
Due: none

Add report resubmission for closed periods ADR
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Reference Jira ticket instead of internal task id
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: exempt revert branches from branch-name check
  .github/actions/pr-preparation/action.yml
Due: none

PAE-000: exempt revert branches from branch-name check (#281)
  .github/actions/pr-preparation/action.yml
Due: none
