Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

chore: remove FEATURE_FLAG_PACKAGING_RECYCLING_NOTES feature flag
  compose.yml
Due: none

PAE-000: fix using cognito stub init
  compose.yml
Due: none

PAE-1159: Enable Journey test runs from local machine
  CONTRIBUTING.md
  compose.journey.test.yml
  compose.yml
Due: prettier --write

PAE-763: Add ORS management discovery architecture document (#104)
  docs/architecture/discovery/index.md
  docs/architecture/discovery/ors-management.md
Due: prettier --write

chore: remove FEATURE_FLAG_PACKAGING_RECYCLING_NOTES feature flag (#106)
  compose.yml
Due: none

Update docker compose files
  compose.journey.test.yml
  compose.yml
Due: none

PAE-000: fix using cognito-stub-init (#110)
  compose.yml
Due: none

PAE-972: Add ADR-0027 — DLQ as investigation tool, not recovery mechanism
  docs/architecture/decisions/0028-dlq-role-and-message-lifecycle.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestion from @dansweeting
  docs/architecture/decisions/0029-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

Add upcoming queue-based features to ADR 0027 context
  docs/architecture/decisions/0029-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

ADR 0027: single SQS queue for backend commands
  docs/architecture/decisions/0029-single-sqs-queue-for-backend-commands.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add FEATURE_FLAG_ORS_ENABLED to admin frontend compose config
  compose.yml
Due: none

PAE-1172: Add FEATURE_FLAG_REPORTS to frontend and backend in compose.yml
  compose.yml
Due: none

PAE-1172: Add FEATURE_FLAG_REPORTS to frontend and backend in compose.yml (#114)
  compose.yml
Due: none

PAE-1159: Enable Journey test runs from local machine (#111)
  CONTRIBUTING.md
  compose.journey.test.yml
  compose.yml
Due: prettier --write

PAE-1202: move PR Prep action to .github/actions
  .github/actions/pr-preparation/action.yml
  .github/workflows/check-pull-request.yml
Due: none

PAE-1202: move PR Prep action to .github/actions (#115)
  .github/actions/pr-preparation/action.yml
  .github/workflows/check-pull-request.yml
Due: none

PAE-1202: rename pr-preparation step
  .github/workflows/check-pull-request.yml
Due: none

PAE-1202: add optional chaining to previousBody
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1202: fix PR Preparation action use
  .github/workflows/check-pull-request.yml
Due: none

PAE-1156: add registered only feature flag
  compose.yml
Due: none

fix the pr prep action
  .github/workflows/check-pull-request.yml
Due: none

remove github token as secrets not present in actions
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1156: add registered-only feature flag (#119)
  .github/actions/pr-preparation/action.yml
  .github/workflows/check-pull-request.yml
  compose.yml
Due: none

PAE-1163: Regulatory reporting data model
  docs/architecture/discovery/regulatory-reporting-data-model.md
Due: prettier --write

PAE-1199: Simplify into one docker compose file
  CONTRIBUTING.md
  compose.journey.test.yml
  compose.yml
  compose/wire-mock/mappings/waste-organisations.json
Due: prettier --write

PAE-864: waste organisations API guide (#53)
  docs/guides/connecting-to-the-waste-organisations-api.md
  docs/guides/index.md
Due: prettier --write

Update compose file to avoid duplication
  compose.yml
  compose/localstack/10-setup-buckets.sh
Due: none

PAE-1199 docker compose (#122)
  CONTRIBUTING.md
  compose.journey.test.yml
  compose.yml
  compose/localstack/10-setup-buckets.sh
  compose/wire-mock/mappings/waste-organisations.json
Due: prettier --write

Default FEATURE_FLAG_REGISTERED_ONLY to true for epr-backend in compose
  compose.yml
Due: none

PAE-1204: Default FEATURE_FLAG_REGISTERED_ONLY to true in compose (#126)
  compose.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
