Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

PAE-1842: Update gitmodules to use consolidated perf test repo (#441)
  .gitmodules
Due: none

point vscode workspaces at the consolidated perf test repo
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
Due: none

use plain lowercase names for workspace folders
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
Due: none

update the performance testing doc for the consolidated repo
  docs/testing/0006-performance-tests.md
Due: prettier --write

point perf thresholds at the sad instead of unsourced numbers
  docs/testing/0006-performance-tests.md
Due: prettier --write

link the sad performance section from the testing doc
  docs/testing/0006-performance-tests.md
Due: prettier --write

PAE-1842: point vscode workspaces at the consolidated perf test repo (#443)
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  docs/testing/0006-performance-tests.md
  frontend.code-workspace
Due: prettier --write

pass the satisfaction survey flag and urls to the frontend
  compose.yml
Due: none

PAE-1896: Add ADR for dual and multi-year summary logs
  docs/architecture/decisions/0048-dual-multi-year-summary-logs.md
Due: prettier --write, npm run adr:generate:toc

PAE-1896: Rename registered-only sentinel to none in ADR 0048
  docs/architecture/decisions/0048-dual-multi-year-summary-logs.md
Due: prettier --write, npm run adr:generate:toc

PAE-1896: Add ADR for dual and multi-year summary logs (#442)
  docs/architecture/decisions/0048-dual-multi-year-summary-logs.md
Due: prettier --write, npm run adr:generate:toc

PAE-1781: add local grafana and emf metrics overlay
  compose.metrics.yml
  metrics/emf-pump.mjs
  metrics/emf.mjs
  metrics/emf.test.mjs
  metrics/grafana-datasource.yml
  vitest.config.mjs
Due: none

PAE-1781: name the agent port and require the endpoint
  metrics/emf-pump.mjs
Due: none

PAE-1781: hoist the jsdoc type import
  metrics/emf-pump.mjs
Due: none

PAE-1781: build the kpi metrics dashboard against the local rig
  .prettierignore
  compose.metrics.yml
  metrics/build-dashboard.mjs
  metrics/journeys.mjs
  metrics/kpi-dashboard.json
  metrics/seed.mjs
Due: prettier --write

hold defra node base images on the node 24 lts line
  renovate-presets/defra-node.json
Due: prettier --write

PAE-1781: merge the kpi panels into a target dashboard
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
  metrics/dashboard.test.mjs
  metrics/kpi-dashboard.json
Due: prettier --write

PAE-1781: warn when the target dashboard has moved
  .gitignore
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
  metrics/dashboard.test.mjs
Due: none

PAE-1781: provision the local dashboard and document the workflow
  compose.metrics.yml
  docs/guides/index.md
  docs/guides/kpi-metrics-dashboard.md
  metrics/grafana-dashboards.yml
  package.json
Due: prettier --write

Address review: label the aggregate cap as a design choice
  docs/architecture/decisions/0048-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Ground December-waste ADR in the statutory labelling duty
  docs/architecture/decisions/0048-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Address review: declared, not derived December flag
  docs/architecture/decisions/0048-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Refine December-waste ADR from epic breakdown
  docs/architecture/decisions/0048-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Fix ADR December-classification date and negative-balance claims
  docs/architecture/decisions/0048-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Add ADR for December-waste PRN balance dimension
  docs/architecture/decisions/0048-december-waste-prns.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Renumber December-waste ADR to 0049 to resolve collision with 0048-dual
  docs/architecture/decisions/0049-december-waste-prns.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: hold defra node base images on the node 24 lts line (#448)
  renovate-presets/defra-node.json
Due: prettier --write

PAE-1781: catch dashboard values the frontend no longer emits
  docs/guides/kpi-metrics-dashboard.md
  metrics/journeys.mjs
  metrics/journeys.test.mjs
Due: prettier --write

PAE-1781: register each service that emits metrics
  docs/guides/kpi-metrics-dashboard.md
  metrics/build-dashboard.mjs
  metrics/journeys.mjs
  metrics/journeys.test.mjs
  metrics/seed.mjs
Due: prettier --write

PAE-1781: report unpromoted work and environment skew
  docs/guides/kpi-metrics-dashboard.md
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
  metrics/dashboard.test.mjs
  metrics/journeys.mjs
Due: prettier --write

PAE-1781: only block on staged work for the same dashboard
  docs/guides/kpi-metrics-dashboard.md
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
  metrics/dashboard.test.mjs
Due: prettier --write

PAE-1781: validate the environment and tidy the generator
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
Due: none

PAE-1781: resolve output paths and drop shadowed bindings
  metrics/build-dashboard.mjs
  metrics/kpi-dashboard.json
Due: prettier --write

PAE-1781: validate the stamp and log repo-relative paths
  metrics/build-dashboard.mjs
Due: none

Drop the dimension tag; carry isDecemberWaste on balance events
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Cross-reference ADR-0049 from ADR-0036 and ADR-0037
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/0037-summary-log-row-states-with-membership.md
Due: prettier --write, npm run adr:generate:toc

PAE-1753: Add December-waste PRN ADR (ADR-0049) with cross-references (#427)
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/0037-summary-log-row-states-with-membership.md
  docs/architecture/decisions/0049-december-waste-prns.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1753: Mark ADR-0049 (December-waste PRNs) as Accepted
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
