Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

remove
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  AGENTS.md
  docs/plans/1235-c1-d5-response-shape-alignment.md
  docs/plans/1235-pr-review.md
  docs/plans/2026-03-23-reporting-api-lifecycle.md
Due: prettier --write

removed
  CLAUDE.local.md
Due: prettier --write

removed
  prompts/PAE-1131-move-date-validation-to-table-schemas.md
Due: prettier --write

PAE-1235: Define ReportDetail API shape matching DB structure (#134)
  .github/actions/test-and-scan/action.yml
  .gitignore
  .lintstagedrc.mjs
  compose.yml
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
  docs/architecture/decisions/0024-create-prn-api-strategy.md
  docs/architecture/decisions/0027-modular-monolith-structure.md
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
  docs/architecture/defined/epr-frontend-page-navigation.md
  docs/architecture/defined/summary-log-processing-failure-handling.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-validation-lld.md
  docs/architecture/discovery/ors-management.md
  docs/guides/connecting-to-the-waste-organisations-api.md
Due: prettier --write, npm run adr:generate:toc

PAE-1236: Update reporting data model to reflect implemented status values, UUID keys, and dueDate
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-1236: Update reporting data model to reflect implemented status values, UUID keys, and dueDate (#137)
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-000: add entra stub submodule
  .gitmodules
Due: none

PAE-000: add entra stub submodule (#138)
  .gitmodules
Due: none

Fix smol-toml and yaml security vulnerabilities
  package-lock.json
Due: prettier --write

PAE-000: update picomatch and yaml
  package-lock.json
Due: prettier --write

PAE-000: update picomatch and yaml (#141)
  package-lock.json
Due: prettier --write

feat(compose): enable registered-only feature flag default for epr-frontend
  compose.yml
Due: none

PAE-1207: Enable registered-only feature flag default for epr-frontend in compose (#142)
  compose.yml
Due: none

PAE-1184: Add ADR 0030 — registered-only operator edge cases
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

PAE-1184: Update ADR index to include ADR 0030
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add data flow and invalidation overview
  docs/architecture/defined/index.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1184: Expand ADR 0030 with wiki-derived findings
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

Add ORS approval date as classification input
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

added adr
  docs/architecture/decisions/0030-reporting-flow-url-and-folder-structure.md
Due: prettier --write, npm run adr:generate:toc

add index change
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

update tbds
  docs/architecture/decisions/0030-reporting-flow-url-and-folder-structure.md
Due: prettier --write, npm run adr:generate:toc

Remove missing report
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1184: Remove Finding 4 from ADR 0030 — sparse rows unreachable in practice
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

Remove user-guidance follow-up item from ADR 0030
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

Fix stale count in Finding 3 assessment (four → three)
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

remove some fluff
  docs/architecture/decisions/0030-reporting-flow-url-and-folder-structure.md
Due: prettier --write, npm run adr:generate:toc

PAE-1281: Single mongo collection for reporting
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-1281: adding UK to restrict single draft report exist for a period
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-1281: Single mongo collection for reporting (#149)
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

Harden npm supply chain settings
  .npmrc
  package.json
Due: prettier --write

Lower npm engine constraint to >=11.11.0
  package.json
Due: prettier --write

PAE-1287: Harden npm supply chain settings (#151)
  .npmrc
  package.json
Due: prettier --write

PAE-1285: Update test for reported aggregation changes
  compose.yml
Due: none

PAE-1285: enrich ORS details
  compose.yml
Due: none

chore: remove FEATURE_FLAG_REGISTERED_ONLY feature flag
  compose.yml
Due: none

PAE-1286: skip pr-preparation for renovate branches
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1286: simplify bot detection in pr-preparation
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1286: pass github context via env vars to avoid script injection
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1286: skip pr-preparation for automated bot PRs (#153)
  .github/actions/pr-preparation/action.yml
Due: none
