Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1058: add prn external api client-id
  compose.yml
Due: none

Remove FEATURE_FLAG_SUMMARY_LOGS from compose.yml
  compose.yml
Due: none

Remove FEATURE_FLAG_SUMMARY_LOGS from compose.yml (#75)
  compose.yml
Due: none

PAE-00: Add COMMAND_QUEUE_SQS_ENDPOINT to epr-backend in compose
  compose.yml
Due: none

PAE-1058: add prn external api client-id (#73)
  compose.yml
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-00: Add COMMAND_QUEUE_SQS_ENDPOINT to epr-backend in compose (#76)
  compose.yml
Due: none

PAE-970: Introduce SQS_ENDPOINT alongside COMMAND_QUEUE_SQS_ENDPOINT
  compose.yml
Due: none

Introduce SQS_ENDPOINT alongside COMMAND_QUEUE_SQS_ENDPOINT
  compose.yml
Due: none

PAE-970: Migrating to the CDP-standard SQS_ENDPOINT variable (#79)
  compose.yml
Due: none

Remove COMMAND_QUEUE_SQS_ENDPOINT from compose.yml
  compose.yml
Due: none

PAE-970: Migrating to the CDP-standard SQS_ENDPOINT variable (#80)
  compose.yml
Due: none

PAE-972: Add DLQ investigation and recovery runbook
  docs/guides/dlq-investigation-and-recovery.md
  docs/guides/index.md
Due: prettier --write

PAE-972: Link Grafana dashboard from runbook
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

PAE-972: Use dashboard name instead of dev-specific URL
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

PAE-972: Look up DLQ URL by name instead of hardcoding
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

PAE-972: Look up queue URLs/ARNs by name in redrive and purge sections
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

PAE-972: Add --query/--output flags for cleaner copy-paste in redrive steps
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

PAE-972: Remove redrive section — summary logs are already failed
  docs/guides/dlq-investigation-and-recovery.md
  docs/guides/index.md
Due: prettier --write

PAE-972: Link source files to GitHub
  docs/guides/dlq-investigation-and-recovery.md
Due: prettier --write

Adjust ADR tone to reflect trial rather than decision
  docs/architecture/decisions/0027-modular-monolith-structure.md
Due: prettier --write, npm run adr:generate:toc

Fix PRN module path in ADR
  docs/architecture/decisions/0027-modular-monolith-structure.md
Due: prettier --write, npm run adr:generate:toc

Fix PRN module name in proposed directory tree
  docs/architecture/decisions/0027-modular-monolith-structure.md
Due: prettier --write, npm run adr:generate:toc

Fix PRN module name in team ownership table
  docs/architecture/decisions/0027-modular-monolith-structure.md
Due: prettier --write, npm run adr:generate:toc

PAE-972: Add ADR-0027 — DLQ as investigation tool, not recovery mechanism
  docs/architecture/decisions/0027-dlq-role-and-message-lifecycle.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1083: use local cognito-stub
  compose.yml
  compose/99-ready.sh
  compose/cognito-local/clients.json
  compose/cognito-local/local_4D8shcYm.json
  compose/localstack/00-init.sh
  compose/localstack/01-start-localstack.sh
  compose/localstack/99-ready.sh
Due: prettier --write

truncate refresh-tokens
  compose/cognito-local/local_4D8shcYm.json
Due: prettier --write

add redis healthcheck & update dependencies
  compose.yml
Due: none

PAE-339: PRN activity admin tab improvements
  compose.yml
Due: none

add rest client config - used by requests.http in epr-backend
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

Revert "add rest client config - used by requests.http in epr-backend"
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

localstack init moved to its own file
  compose/localstack/01-start-localstack.sh
Due: none

PAE-1083: use local cognito-stub (#84)
  compose.yml
  compose/99-ready.sh
  compose/cognito-local/clients.json
  compose/cognito-local/local_4D8shcYm.json
  compose/localstack/00-init.sh
  compose/localstack/01-start-localstack.sh
  compose/localstack/99-ready.sh
Due: prettier --write

parallelise bucket/queue creation
  compose/localstack/01-start-localstack.sh
Due: none

epr-backend depends on cdp-uploader being healthy
  compose.yml
Due: none
