Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

Add Option 4: linkedBy.id proxy approach
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
Due: prettier --write, npm run adr:generate:toc

ADR-0026: Accept Option 4 (linkedBy.id proxy) for initial user status
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
Due: prettier --write, npm run adr:generate:toc

PAE-974: ADR-0026 Accept Option 4 for initial user status (#62)
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add automated script for setting up frontend user
  docs/guides/local-login.md
  package-lock.json
  package.json
  scripts/seed-defra-id-stub.mjs
Due: prettier --write

tweaks
  scripts/seed-defra-id-stub.mjs
Due: none

Document npm install requirement in quick start
  docs/guides/local-login.md
Due: prettier --write

Add automated script for setting up frontend user (#63)
  docs/guides/local-login.md
  package-lock.json
  package.json
  scripts/seed-defra-id-stub.mjs
Due: prettier --write

PAE-000 document agreed page + data flow for PRN creation
  docs/tmp-prn-creation-flow.md
Due: prettier --write

Align API URLs with existing implementation
  docs/tmp-prn-creation-flow.md
Due: prettier --write

Align URLs with existing implementation
  docs/tmp-prn-creation-flow.md
Due: prettier --write

Add command queue config for local dev
  compose.yml
  compose/01-start-localstack.sh
Due: none

Use queue name instead of URL for command queue config
  compose.yml
Due: none

Remove queue name env var - uses default
  compose.yml
Due: none

Remove GET PRN by ID from OpenAPI spec
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

PAE-000: Remove GET PRN by ID endpoint from OpenAPI spec (#66)
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

PAE-000: Use prnNumber in PRN endpoint paths
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

PAE-000: Disable CI SonarCloud scan
  .github/actions/test-and-scan/action.yml
Due: none

PAE-000: Treat docs/ directory as documentation-only
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: Restore CI SonarCloud scan
  .github/actions/test-and-scan/action.yml
Due: none

PAE-000: Remove CI SonarCloud scan
  .github/actions/test-and-scan/action.yml
Due: none

PAE-000: Use PRN number in endpoint paths, fix SonarCloud CI conflict (#67)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

add frontend journey tests
  .gitmodules
Due: none

add backend journey tests
  .gitmodules
Due: none

add admin journey tests
  .gitmodules
Due: none

sort the modules alphabetically
  .gitmodules
Due: none

track main for all repos
  .gitmodules
Due: none

add vscode workspace with all modules
  all.code-workspace
Due: none

PAE-1038 align documented prn statuses in open api spec with implementation
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

PAE-1038 Align PRN LLD with current implementation
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

turns on FF, sets up queue, waits until queues are created before setting container readiness
  compose.yml
  compose/01-start-localstack.sh
Due: none

Allow env var override for SQS commands feature flag
  compose.yml
Due: none

PAE-970: Switch local dev to SQS command executor (#71)
  compose.yml
  compose/01-start-localstack.sh
Due: none

PAE-1003: Rename lumpy feature flag env vars
  compose.yml
Due: none

PAE-1003: Rename lumpy feature flag environment variables (#72)
  compose.yml
Due: none

Add prn.status.currentStatusAt
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-1038 Align PRN LLD with current implementation (#70)
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-1053: add journey test repos as submodules (#69)
  .gitmodules
  all.code-workspace
Due: none
