Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

Update GOVUK_NOTIFY_API_KEY stub value
  docs/guides/local-login.md
Due: prettier --write

Update docs/guides/local-login.md
  docs/guides/local-login.md
Due: prettier --write

adds hint to run build local defra-id-stub when troubleshooting
  docs/guides/local-login.md
Due: prettier --write

wires up waste-balance env var from local env to container
  compose.yml
Due: none

NoJira: Local login guide (#47)
  compose.yml
  docs/guides/index.md
  docs/guides/local-login.md
  docs/index.md
  package.json
Due: prettier --write

PAE-891: review comments
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-891: ADR for public register generation
  docs/architecture/decisions/0025-public-register-generation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-891: review comments
  docs/architecture/decisions/0025-public-register-generation.md
Due: prettier --write, npm run adr:generate:toc

PAE-891: ADR for public register generation (#48)
  docs/architecture/decisions/0025-public-register-generation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: add entra stub to docker compose
  compose.yml
Due: none

PAE-000: add entra stub to docker compose (#49)
  compose.yml
Due: none

add dev:env script for local env vars
  package.json
Due: prettier --write

add how to get access to sonar cloud to the contributing guide
  CONTRIBUTING.md
Due: prettier --write

include dev and dev:env script details to contributing.md
  CONTRIBUTING.md
Due: prettier --write

add watch to dev:env
  package.json
Due: prettier --write

rename to SonarQube
  CONTRIBUTING.md
Due: prettier --write

add @dotenvx/dotenvx as a dev dependency
  package-lock.json
  package.json
Due: prettier --write

Nojira: update docs and submodules (#50)
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: prettier --write

Add modular monolith structure ADR
  docs/architecture/decisions/0026-modular-monolith-structure.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-911: Add re-ex-public-register S3 bucket to LocalStack
  compose/01-start-localstack.sh
Due: none

PAE-911: Add re-ex-public-register S3 bucket to LocalStack (#55)
  compose/01-start-localstack.sh
Due: none

Add ADR for Hapi plugin dependency injection
  docs/architecture/decisions/0026-hapi-plugin-dependency-injection.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

local admin login guide
  docs/guides/admin-local-login.md
  docs/guides/index.md
Due: prettier --write

Apply suggestion from @Copilot
  docs/guides/admin-local-login.md
Due: prettier --write

PAE -NOJIRA: Admin local login guide (#57)
  docs/guides/admin-local-login.md
  docs/guides/index.md
Due: prettier --write

PAE-924 control PRNS feature flag
  compose.yml
Due: none

PAE-924 control PRNS feature flag (#58)
  compose.yml
Due: none

PAE-864: waste organisations API guide
  docs/guides/connecting-to-the-waste-organisations-api.md
  docs/guides/index.md
Due: prettier --write

Update mermaid syntax in PRN sequence diagram to be Github compatible
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

Update mermaid syntax in PRN sequence diagram to be Github compatible (#59)
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-981 surface config for where frontends store session
  compose.yml
Due: none

PAE-981 surface config for where frontends store session (#60)
  compose.yml
Due: none

ADR 0026: Expose initial user status to frontend
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestion from @dansweeting
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestions from code review
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestion from @dansweeting
  docs/architecture/decisions/0026-expose-initial-user-status-to-frontend.md
Due: prettier --write, npm run adr:generate:toc

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
