Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

check-pins: exact-only package returns no offenders
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: flag caret ranges in dependencies
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: scan tilde + all 4 core dep sections
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: guard against scanning engines
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: scan overrides and resolutions
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: recurse into nested overrides
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

PAE-1360: Update CONTRIBUTING.md shared-services list to Floci
  CONTRIBUTING.md
Due: prettier --write

check-pins: guard against flagging non-semver values
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: add scan-files reader tagging offenders by path
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: blank line before expects in tests
  .github/actions/pr-preparation/check-pins.test.mjs
Due: none

check-pins: add CLI entrypoint that prints offenders and exits 1
  .github/actions/pr-preparation/check-pins.mjs
Due: none

pr-preparation: run check-pins against package.json
  .github/actions/pr-preparation/action.yml
Due: none

PAE-1385: add CI pin-check to shared pr-preparation action (#191)
  .github/actions/pr-preparation/action.yml
  .github/actions/pr-preparation/check-pins.mjs
  .github/actions/pr-preparation/check-pins.test.mjs
  package-lock.json
  package.json
  vitest.config.mjs
Due: prettier --write

PAE-1364: ADR 0031 — drop previousVersionIds from v2 entities
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — reframe LLD as ambiguous, not per-event spec
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — align with PAE-1382 scale risk
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — spell out transaction numbering and projection freshness
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — waste balance per-event transaction ledger
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — reframe as authoritative ledger, drop per-event angle
  docs/architecture/decisions/0031-waste-balance-per-event-transaction-ledger.md
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add transaction shape section to ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

Drop projection doc from ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

Add source object to ADR 0031 transactions
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

Fold entity into source in ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

Note ledger carries version history in ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1364: ADR 0031 — waste balance transaction ledger (#187)
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Change status to 'Accepted' for waste balance ledger
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

Accept ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Accept ADR 0031 (waste balance transaction ledger) (#193)
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1360: Update CONTRIBUTING.md shared-services list to Floci (#190)
  CONTRIBUTING.md
Due: prettier --write

PAE-1339: Add advisory lint:types CI step
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.json
  package-lock.json
  package.json
Due: prettier --write

PAE-1339: Upgrade npm and install otel deps in lint:types job
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.json
Due: prettier --write

PAE-1339: Type-check all JS in the repo, not just otel
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.json
Due: prettier --write

PAE-1339: Rename step to reflect generic intent, not otel specifics
  .github/workflows/check-pull-request.yml
Due: none

PAE-1339: Include dot-directory code in type-check scope
  jsconfig.typecheck.json
Due: prettier --write

PAE-1339: Make lint:types blocking, drop advisory shell dance
  .github/workflows/check-pull-request.yml
Due: none

PAE-1382: Add delta reconciliation to ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

allow sensitive logs
  compose.yml
Due: none

sort
  compose.yml
Due: none

default false
  compose.yml
Due: none

default true
  compose.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
