Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run adr:generate:toc

PAE-243: add waste balance detail to LLD (#7)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-556: Update LLD docs for CDP upload proxy (#9)
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-581: Add cooldown to dependabot updates (#16)
  .github/dependabot.yml
Due: none

PAE-602: Remove unused environment variables from compose.yml (#18)
  compose.yml
Due: none

PAE-492: add submodule cloning instructions
  README.md
Due: npm run format

PAE-492: add package-lock.json
  package-lock.json
Due: npm run format

PAE-492: only format the lint-staged files not everything
  .lintstagedrc.json
Due: npm run format

PAE-492: add submodule cloning instructions (#21)
  .lintstagedrc.json
  README.md
  package-lock.json
Due: npm run format

PAE-585: Add summary log validation LLD (#20)
  docs/architecture/defined/index.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-validation-lld.md
  docs/architecture/discovery/index.md
Due: npm run format

PAE-502: link redis to services that need it
  compose.yml
Due: none

drop restart: always as it is confusing
  compose.yml
Due: none

remove shared profile to simplify compose
  CONTRIBUTING.md
  compose.yml
Due: npm run format

Added new currentVersionId and previousVersionIds to LLD Added missing ID to JSON example
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Minor tweak
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-676: document Summery Log journey and data processing
  docs/architecture/decisions/0021-idempotent-operations-and-retry-mechanisms.md
  docs/architecture/defined/index.md
  docs/architecture/discovery/pepr-lld.md
  docs/architecture/discovery/summary-log-row-validation-classification.md
  docs/architecture/discovery/summary-log-submission-lld.md
  docs/architecture/discovery/summary-log-validation-lld.md
Due: npm run format, npm run adr:generate:toc

PAE-676: document Summery Log journey and data processing (#26)
  docs/architecture/decisions/0021-idempotent-operations-and-retry-mechanisms.md
  docs/architecture/defined/index.md
  docs/architecture/discovery/pepr-lld.md
  docs/architecture/discovery/summary-log-row-validation-classification.md
  docs/architecture/discovery/summary-log-submission-lld.md
  docs/architecture/discovery/summary-log-validation-lld.md
Due: npm run format, npm run adr:generate:toc

PAE-664: Introduces documention on protecting against infinite polling following a summary log upload
  docs/architecture/defined/summary-log-processing-failure-handling.md
  docs/architecture/discovery/summary-log-submission-lld.md
Due: npm run format

PAE-664: move doc to discovery, update TOC
  docs/architecture/discovery/summary-log-processing-failure-handling.md
  docs/architecture/discovery/summary-log-submission-lld.md
Due: npm run format

PAE-664: Convert diagrams to mermaid, update TOC
  docs/architecture/discovery/summary-log-processing-failure-handling.md
Due: npm run format

Update docs/architecture/discovery/summary-log-processing-failure-handling.md
  docs/architecture/discovery/summary-log-processing-failure-handling.md
Due: npm run format

PAE-502: docker compose tweaks (#22)
  CONTRIBUTING.md
  compose.yml
Due: npm run format

Update external-manage-prns.yaml
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

WIP Add backend testing tools
  package-lock.json
  package.json
  scripts/INSTRUCTIONS.md
  scripts/add-linking-info-to-org.ts
  scripts/add-my-user.ts
  scripts/constants.ts
  scripts/fetch-backend.ts
  scripts/fetch-new-defra-id-token-from-cpdev.ts
  scripts/get-token-from-local-defra-stub.ts
  scripts/move-org-to-approved.ts
  scripts/playwright.config.ts
  scripts/show-token-contents.ts
  scripts/test-auth-with-saved-token.ts
  scripts/test-linking.ts
Due: npm run format

WIP Improved messaging
  scripts/add-my-user.ts
Due: none

WIP Add utility to update org status
  scripts/fetch-backend.ts
  scripts/update-org-status.ts
Due: none

PAE-000: update LDM based on PR review discussion
  docs/architecture/discovery/forms-data-logical-data-model.md
Due: npm run format

PAE-000: add PRN data model along with the api-definition for external PRN management (RPD tactical endpoints) (#13)
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/discovery/forms-data-logical-data-model.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Initial documentation of simplification proposal
  docs/tmp-simplification-proposal.md
Due: npm run format

Update
  docs/tmp-simplification-proposal.md
Due: npm run format

Formatiting
  docs/tmp-simplification-proposal.md
Due: npm run format

Change PUT to POST
  docs/tmp-simplification-proposal.md
Due: npm run format

Add sequence diagrams
  docs/tmp-simplification-proposal.md
Due: npm run format

Fix typo
  docs/tmp-simplification-proposal.md
Due: npm run format

Add summary
  docs/tmp-simplification-proposal.md
Due: npm run format

PAE-664: Introduces documentation on protecting against infinite polling following a summary log upload (#25)
  docs/architecture/discovery/summary-log-processing-failure-handling.md
  docs/architecture/discovery/summary-log-submission-lld.md
Due: npm run format

Align proposal with current implementation
  docs/tmp-simplification-proposal.md
Due: npm run format

Add summary log validation failure codes documentation
  docs/architecture/discovery/index.md
  docs/architecture/discovery/summary-log-validation-failure-codes.md
Due: npm run format

PAE-691: Add summary log validation failure codes documentation (#28)
  docs/architecture/discovery/index.md
  docs/architecture/discovery/summary-log-validation-failure-codes.md
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
