Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

Add ADR for auth context adapter for testing
  docs/architecture/decisions/0023-auth-context-adapter-for-testing.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add Tier 1 auth injection helpers to ADR
  docs/architecture/decisions/0023-auth-context-adapter-for-testing.md
Due: prettier --write, npm run adr:generate:toc

Move auth context adapter doc from ADR to testing guide
  docs/architecture/decisions/index.md
  docs/testing/0007-auth-context-adapter-for-testing.md
  docs/testing/index.md
Due: prettier --write, npm run adr:generate:toc

Clarify Tier 1 auth injection bypasses both identity providers
  docs/testing/0007-auth-context-adapter-for-testing.md
Due: prettier --write

PAE-604: Updated Waste Balance LLD (#23)
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-679: provide swagger docs
  docs/architecture/api-definitions/index.md
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-000: provide envvar overrides for some compose params
  compose.yml
Due: none

PAE-000: Ubuntu fixes to get services working
  compose.yml
Due: none

PAE-000: fix DEFRA_ID_OIDC_CONFIGURATION_URL
  compose.yml
Due: none

PAE-000: allow running built image / building image locally
  CONTRIBUTING.md
  compose.yml
Due: prettier --write

PAE-000: docker compose tweaks (#32)
  CONTRIBUTING.md
  compose.yml
Due: prettier --write

PAE-752: Add summary log preview integrity documentation
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add race conditions and state machine reference
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add CDP initiate timing design consideration
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Use preprocessing state with changed supersede rules
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add alternative deferred staleness detection design
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Explain why validation doesn't need blocking
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add optional early staleness detection on GET
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add comprehensive race condition analysis for alternative design
  docs/architecture/discovery/summary-log-preview-integrity.md
Due: prettier --write

PAE-752: Add implementation guide for deferred staleness detection
  docs/architecture/discovery/implementing-deferred-staleness-detection.md
Due: prettier --write

docs: update implementation guide for deferred staleness detection
  docs/architecture/discovery/implementing-deferred-staleness-detection.md
Due: prettier --write

PAE-752: Update LLD for deferred staleness detection
  docs/architecture/discovery/summary-log-submission-lld.md
Due: prettier --write

PAE-752: Update LLD for deferred staleness detection (#34)
  docs/architecture/discovery/summary-log-submission-lld.md
Due: prettier --write

docs: add ADR for hybrid seed data strategy in non-prod environments
  docs/architecture/decisions/0023-hybrid-seed-data-strategy-for-non-prod-environments.md
Due: prettier --write, npm run adr:generate:toc

change adr status
  docs/architecture/decisions/0023-hybrid-seed-data-strategy-for-non-prod-environments.md
Due: prettier --write, npm run adr:generate:toc

docs: add ADR for hybrid seed data strategy (#36)
  docs/architecture/decisions/0023-hybrid-seed-data-strategy-for-non-prod-environments.md
Due: prettier --write, npm run adr:generate:toc

PAE-679: provide swagger docs (#30)
  docs/architecture/api-definitions/index.md
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

Add EPR frontend page navigation documentation
  docs/architecture/discovery/epr-frontend-page-navigation.md
  docs/architecture/discovery/index.md
Due: prettier --write

Simplify mermaid diagram labels for readability
  docs/architecture/discovery/epr-frontend-page-navigation.md
Due: prettier --write

Use higher contrast colours matching existing diagrams
  docs/architecture/discovery/epr-frontend-page-navigation.md
Due: prettier --write

Rename Account Page to Account Home
  docs/architecture/discovery/epr-frontend-page-navigation.md
Due: prettier --write

PAE-757: Add EPR frontend page navigation documentation (#37)
  docs/architecture/discovery/epr-frontend-page-navigation.md
  docs/architecture/discovery/index.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
