Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1430: Add ADR for admin UI scope-based RBAC
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1381: Enable report unsubmit for epr-backend (#210)
  compose.yml
Due: none

PAE-1382: Add waste balance ledger rollout and cutover recommendation (#202)
  docs/architecture/discovery/index.md
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Drop manual-adjustment from ADR 0031 source-kind enum
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Amend ADR 0031 cutover mechanism to upfront sweep with tri-state marker
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1430: keep existing ROLES enum, add separate SCOPES and ADMIN_ROLES
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
Due: prettier --write, npm run adr:generate:toc

PAE-1430: Add ADR for admin UI scope-based RBAC (#211)
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1430: Forward SERVICE_MAINTAINER_WRITE_EMAILS and SUPPORT_EMAILS to backend container
  compose.yml
Due: none

PAE-1358: add ADR 0034 multi-year accreditation model
  docs/architecture/decisions/0034-multi-year-accreditation-model.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Update accreditation model date and status
  docs/architecture/decisions/0034-multi-year-accreditation-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-1358: ADR 0034 multi-year accreditation model (#214)
  docs/architecture/decisions/0034-multi-year-accreditation-model.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1358: Fix ts errors
  otel/package-lock.json
  otel/package.json
Due: prettier --write

PAE-1382: Add event-sourced waste balance stream design discovery
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Specify concurrency contract and row-monotonicity premise
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Add worked example of event stream lifecycle
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Use a dedicated `version` field for waste-record concurrency
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Frame registered-only balance as a product decision
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Define row-version canonicity as a write-time invariant
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Reword "sealed" — nothing happens to inactive streams
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Drop irrelevant design-drift framing from Context
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Reorder worked example to show delta on divergent balance
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Nest balance snapshots and provenance to match ledger shape
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Add stream-filter invariant for sparse-delta writes
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Make the row-version chain strictly append-only
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Diff against latest written predecessor; canonicity becomes a walk
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1358: Fix type chk errors
  .gitignore
Due: none

PAE-1430: Update scopes for epr-backend
  compose.yml
Due: none

PAE-1430: Update scopes for epr-backend (#216)
  compose.yml
Due: none

PAE-1339: add shared lint:types:tests action
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1339: resolve typescript from caller cwd
  .github/actions/lint-types-tests/summary.mjs
Due: none

PAE-1339: ship typescript with action
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/package-lock.json
  .github/actions/lint-types-tests/package.json
  .github/actions/lint-types-tests/summary.mjs
  .github/dependabot.yml
Due: prettier --write

PAE-1339: fold action path into existing dependabot entry
  .github/dependabot.yml
Due: none

make script a touch more fp-like
  .github/actions/lint-types-tests/summary.mjs
Due: none

PAE-1339: add shared lint:types:tests action (#218)
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/package-lock.json
  .github/actions/lint-types-tests/package.json
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
  .github/dependabot.yml
Due: prettier --write

PAE-1428 Add ADR for reading org data with basic auth
  docs/architecture/decisions/0035-read-organisation-data-with-basic-auth.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1428 Add ADR for reading org data with basic auth (#220)
  docs/architecture/decisions/0035-read-organisation-data-with-basic-auth.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1428 Fix title in ADR
  docs/architecture/decisions/0035-read-organisation-data-with-basic-auth.md
Due: prettier --write, npm run adr:generate:toc

Fix
  docs/architecture/decisions/0035-read-organisation-data-with-basic-auth.md
Due: prettier --write, npm run adr:generate:toc

PAE-1428 Fix title in ADR (#221)
  docs/architecture/decisions/0035-read-organisation-data-with-basic-auth.md
Due: prettier --write, npm run adr:generate:toc

PAE-1428: Update compose file with basic auth creds for local testing
  compose.yml
Due: none
