Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1428: Update compose file with basic auth creds for local testing (#222)
  compose.yml
Due: none

PAE-1538: Correct summary log validation failure-codes doc to match implementation
  docs/architecture/defined/summary-log-validation-failure-codes.md
Due: prettier --write

PAE-1538: Correct row classification doc
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

PAE-1538: Correct summary log validation failure-codes doc to match implementation (#224)
  docs/architecture/defined/summary-log-validation-failure-codes.md
Due: prettier --write

derive tests typecheck scope from tsconfig with glob override
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1382: Frame registered-only balance as a product decision
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Define row-version canonicity as a write-time invariant
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Add stream-filter invariant for sparse-delta writes
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Drop irrelevant design-drift framing from Context
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Add event-sourced waste balance stream design discovery
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Nest balance snapshots and provenance to match ledger shape
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Add worked example of event stream lifecycle
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Specify concurrency contract and row-monotonicity premise
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Diff against latest written predecessor; canonicity becomes a walk
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Reword "sealed" — nothing happens to inactive streams
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Make the row-version chain strictly append-only
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Use a dedicated `version` field for waste-record concurrency
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Reorder worked example to show delta on divergent balance
  docs/architecture/discovery/event-sourced-waste-balance-stream.md
Due: prettier --write

PAE-1382: Promote event-sourced waste balance stream to ADR-0036
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Rework summary-log data flow for the event-sourced stream
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1382: Rework LLD waste balance section for the event-sourced stream
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1538: Align row validation classification doc with implementation (#225)
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

PAE-1382: State lifecycle-PRN-transitions decision as design, not as a resolved question
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
Due: prettier --write, npm run adr:generate:toc

PAE-1339: derive tests typecheck scope from config (#227)
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1382: Accept event-sourced waste balance stream as ADR-0036 (#213)
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Align waste-balance rollout doc with the event-sourced stream
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

Use 'ledger' for the canonicalSource marker, matching the code
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

Correct ADR-0036 canonicalSource marker value to 'ledger'
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Correct ADR-0036 canonicalSource marker value to ledger (#231)
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Correct PRN watermark field name in LLD
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Defer waste-balance model detail to ADR-0036 in LLD
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Defer waste-balance arithmetic to ADR-0036 in data-flow doc
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1382: Reconcile rollout doc with the built implementation
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Compare event actor with system-log actor for render parity
  docs/architecture/discovery/index.md
  docs/architecture/discovery/waste-balance-event-actor-shape.md
Due: prettier --write

PAE-1382: Account for the PRN stream-actor stamp in actor-shape comparison
  docs/architecture/discovery/waste-balance-event-actor-shape.md
Due: prettier --write

PAE-1382: Recommend a best-view actor record over a discriminated union
  docs/architecture/discovery/waste-balance-event-actor-shape.md
Due: prettier --write

remove include-globs override from lint-types-tests action
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
Due: none

test resolveFilterGlobs tsconfig contract
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1339: remove include-globs override from lint-types-tests action (#233)
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1544: pin github actions to commit shas
  .github/actions/lint-types-tests/action.yml
  .github/actions/pr-preparation/action.yml
  .github/actions/renovate-docker/action.yml
  .github/workflows/check-pull-request.yml
  .github/workflows/renovate-docker.yml
Due: none
