Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

PAE-754 Support supplying entra ID config from local env
  compose.yml
Due: none

PAE-754 Support supplying entra ID config from local env (#38)
  compose.yml
Due: none

PAE-757: Update navigation docs for start page and linking changes
  docs/architecture/discovery/epr-frontend-page-navigation.md
Due: prettier --write

PAE-757: Update navigation docs for start page and linking changes (#39)
  docs/architecture/discovery/epr-frontend-page-navigation.md
Due: prettier --write

Add PRN creation decision doc
  docs/architecture/decisions/0024-create-prn-api-strategy.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-471: upgrade mongodb to v7
  compose.yml
Due: none

PAE-471: upgrade mongodb to v7 (#41)
  compose.yml
Due: none

PAE-654: Add Jaeger for OpenTelemetry trace collection
  compose.yml
Due: none

Add nginx load balancer for backend horizontal scaling
  compose.yml
  compose/backend-lb.conf
Due: none

Add OpenTelemetry zero-code auto-instrumentation
  compose.yml
  otel/package-lock.json
  otel/package.json
  otel/tracing.js
Due: prettier --write

Fix OTel instrumentation by bypassing nodemon
  compose.yml
Due: none

Add seed script for local JMeter performance testing
  package-lock.json
  package.json
  scripts/seed-perf-test-data.mjs
Due: prettier --write

Add OTel instrumentation to epr-frontend, disable fs tracing
  compose.yml
  otel/tracing.js
Due: prettier --write

chore: disable DNS instrumentation and improve OTel comments
  otel/tracing.js
Due: prettier --write

chore: document OTel MongoDB instrumentation limitation
  compose.yml
  otel/tracing.js
Due: prettier --write

feat: enable MongoDB instrumentation with updated OTel packages
  otel/package-lock.json
  otel/package.json
  otel/tracing.js
Due: prettier --write

chore: update compose.yml comment for MongoDB OTel
  compose.yml
Due: none

PAE-857: Add PRN creation decision doc
  docs/architecture/decisions/0024-create-prn-api-strategy.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

refactor: make OTel tracing opt-in for portability
  .gitignore
  compose.otel.yml
  compose.yml
  docs/guides/index.md
  docs/guides/opentelemetry-tracing.md
  scripts/seed-perf-test-data.mjs
Due: prettier --write

Revert .gitignore changes (local-only concern)
  .gitignore
Due: none

Revert root package.json MongoDB dep (local-only)
  package-lock.json
  package.json
Due: prettier --write

Switch OTel to ESM with explicit instrumentations
  compose.otel.yml
  otel/tracing.mjs
Due: none

PAE-857: Add PRN creation decision doc (#43)
  docs/architecture/decisions/0024-create-prn-api-strategy.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

feat: enable Hapi route-level tracing with module.register()
  compose.otel.yml
  otel/loader.mjs
  otel/package-lock.json
  otel/package.json
Due: prettier --write

refactor: simplify OTel loader to use @opentelemetry/instrumentation/hook.mjs
  otel/loader.mjs
  otel/package.json
Due: prettier --write

chore: update otel package-lock.json after removing import-in-the-middle
  otel/package-lock.json
Due: prettier --write

refactor: return to auto-instrumentations-node for comprehensive tracing
  otel/loader.mjs
  otel/package-lock.json
  otel/package.json
Due: prettier --write

fix: correct nginx LB config comments and reduce timeouts
  compose/backend-lb.conf
Due: none

fix: remove MongoDB 6.0 downgrade - OTel now works with MongoDB 7
  compose.otel.yml
Due: none

docs: remove outdated MongoDB 6.x limitation from OTel guide
  docs/guides/opentelemetry-tracing.md
Due: prettier --write

PAE-863: add PRN sequence diagram to pepr-lld
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-863: add PRN sequence diagram to pepr-lld (#46)
  docs/architecture/discovery/pepr-lld.md
Due: prettier --write

PAE-654: Add OpenTelemetry tracing for local development (#45)
  compose.otel.yml
  compose/backend-lb.conf
  docs/guides/index.md
  docs/guides/opentelemetry-tracing.md
  otel/loader.mjs
  otel/package-lock.json
  otel/package.json
  otel/tracing.js
  otel/tracing.mjs
Due: prettier --write

fix doc links
  docs/index.md
Due: prettier --write

npm local dev script
  package.json
Due: prettier --write

local login guide
  docs/guides/index.md
  docs/guides/local-login.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
