Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

docs: type the organisation and overseas-sites accreditation responses
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1781: add a reset for the local metric store
  docs/guides/kpi-metrics-dashboard.md
  package.json
Due: prettier --write

PAE-1781: reset the metric store by restart, not recreate
  docs/guides/kpi-metrics-dashboard.md
  package.json
Due: prettier --write

PAE-1781: split dashboard promotion out from the kpi generator
  .gitignore
  docs/guides/kpi-metrics-dashboard.md
  metrics/build-dashboard.mjs
  metrics/dashboard.mjs
  metrics/dashboard.test.mjs
  metrics/journeys.mjs
  metrics/kpi-dashboard.json
  metrics/promote.mjs
  package.json
Due: prettier --write

PAE-1781: reject subcommands left over from the old cli
  .gitignore
  metrics/build-dashboard.mjs
Due: none

PAE-1781: show each journey's start and end as stat panels
  metrics/build-dashboard.mjs
  metrics/journeys.mjs
  metrics/kpi-dashboard.json
Due: prettier --write

docs: type the organisation and overseas-sites accreditation responses (#454)
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1780: embed the reex satisfaction surveys behind a feature flag (#446)
  compose.yml
Due: none

Add ADR-0050 for status as a dated timeline
  docs/architecture/decisions/0050-status-as-a-dated-timeline.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Document December-waste PRNs in binder docs
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/prn-state-transitions.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Document the registration overseas sites route
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1781: enable EMF metrics for frontend service in local compose
  compose.yml
Due: none

Encode nullability on the registration site shape
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Drop the stale reports feature-flag notes
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1781: enable EMF metrics for frontend service in local compose (#460)
  compose.yml
Due: none

PAE-1858: Document the registration-scoped overseas sites route (#459)
  docs/architecture/api-definitions/internal-api.yaml
Due: none

docs(api): document the summary log download route (PAE-1720)
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Declare the scope each internal API route needs
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Fix the security scheme placeholders and default
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Make ADR-0049 December portion credits-only
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Drop revision-history meta from ADR-0049 body
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Make ADR-0049 December portion credits-only (#466)
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

PAE-1913: Open the December Waste window on epr-backend for local dev
  compose.yml
Due: none

PAE-1913: Open the December Waste window on epr-backend for local dev (#463)
  compose.yml
Due: none

Refine ADR-0049 event flag: disclosure vs routing
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Rename output PRN to reprocessor-output PRN
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Apply reprocessor-output rename in checks
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Add flag resolution truth table to checks
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

State each PRN event carries its own flag copy
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Drop actor-vs-cause citation from snapshot note
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Note output truth-table rows behave identically
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

PAE-1922: Refine ADR-0049 December-waste event flag (#470)
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Rename ADR-0049 December flag to pool value
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Document report-creation gate and refresh row-classification rules
  docs/architecture/defined/index.md
  docs/architecture/defined/report-creation-mandatory-fields.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

PAE-1922: Model ADR-0049 December balance as a pool value (#471)
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

Add generated per-column Summary Log rules reference
  docs/architecture/defined/index.md
  docs/architecture/defined/summary-log-column-rules.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

Add ADR 0050 on glass as two material types
  docs/architecture/decisions/0050-glass-as-two-material-types.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/glass-material-model.md
  docs/architecture/discovery/index.md
Due: prettier --write, npm run adr:generate:toc

ADR-0050: Glass as two material types (#440)
  docs/architecture/decisions/0050-glass-as-two-material-types.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/glass-material-model.md
  docs/architecture/discovery/index.md
Due: prettier --write, npm run adr:generate:toc

State that no unsplit glass data exists
  docs/architecture/decisions/0050-glass-as-two-material-types.md
Due: prettier --write, npm run adr:generate:toc

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
