Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1286: add renovate for docker-compose image updates
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1286: switch renovate to npx mode with npm caching
  .github/workflows/renovate-docker.yml
Due: none

PAE-1286: add renovate for docker-compose image updates (#154)
  .github/workflows/renovate-docker.yml
  renovate.json
Due: prettier --write

PAE-1240: ADR for stale report detection on new summary-log
  docs/architecture/decisions/0030-stale-report-detection-on-new-summary-log.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1286: centralise renovate config and add shared action
  .github/actions/renovate-docker/action.yml
  .github/workflows/renovate-docker.yml
  renovate-presets/default.json
  renovate-presets/defra-node.json
  renovate.json
Due: prettier --write

PAE-1286: update renovate config to inc github-actions (#157)
  .github/actions/renovate-docker/action.yml
  .github/workflows/renovate-docker.yml
  renovate-presets/default.json
  renovate-presets/defra-node.json
  renovate.json
Due: prettier --write

PAE-1286: fix preset path syntax
  renovate.json
Due: prettier --write

PAE-1286: fix renovate preset path syntax (#163)
  renovate.json
Due: prettier --write

PAE-1286: group docker-compose image updates in shared preset
  renovate-presets/default.json
Due: prettier --write

PAE-1286: group docker-compose image updates in shared preset (#166)
  renovate-presets/default.json
Due: prettier --write

PAE-1286: only group minor/patch docker-compose updates
  renovate-presets/default.json
Due: prettier --write

PAE-1286: only group minor/patch docker-compose updates (#167)
  renovate-presets/default.json
Due: prettier --write

fix eslint symlink resolution in workspace files
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
Due: none

PAE-1184: Add executive summary to ADR 0030
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: fix eslint symlink resolution in workspace files (#168)
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  frontend.code-workspace
Due: none

PAE-000: Add data flow and invalidation overview (#145)
  docs/architecture/defined/index.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1312: Correct ORS data flow in reports
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1312: Correct ORS data flow in architecture doc (#174)
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-000: clamp docker node tag and group node version updates
  renovate-presets/default.json
Due: prettier --write

PAE-000: renovate - clamp docker node tag and group node version updates (#175)
  renovate-presets/default.json
Due: prettier --write

PAE-1330: Remove obsolete feature flags from compose.yml
  compose.yml
Due: none

PAE-1330: Remove obsolete feature flags from compose.yml (#178)
  compose.yml
Due: none

PAE-000: pin selenium-chrome to amd64 platform
  compose.yml
Due: none

PAE-000: pin selenium-chrome platform (#179)
  compose.yml
Due: none

Update docs/architecture/decisions/0030-registered-only-edge-cases.md
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

PAE-1184: link epr-backend#1040 in ADR 0030 for implemented items
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

PAE-1184: ADR 0030 — registered-only operator edge cases (#144)
  docs/architecture/decisions/0030-registered-only-edge-cases.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1360: Migrate orchestration compose.yml from LocalStack to Floci
  compose.yml
  compose/floci/init.sh
  compose/localstack/00-init.sh
  compose/localstack/01-start-localstack.sh
  compose/localstack/10-setup-buckets.sh
  compose/localstack/99-ready.sh
  compose/wire-mock/mappings/forms-api-file-download.json
Due: prettier --write

Clarify why SL_DIR diverges from the referenced upstream init
  compose/floci/init.sh
Due: none

Satisfy Sonar shell rules in floci init helpers
  compose/floci/init.sh
Due: none

PAE-1375: pin and bump otel deps to latest
  otel/package-lock.json
  otel/package.json
Due: prettier --write

PAE-1375: remove unused otel tracing.js and tracing.mjs
  otel/tracing.js
  otel/tracing.mjs
Due: prettier --write

PAE-1375: build frontend assets in otel overlay so styling loads
  compose.otel.yml
Due: none

PAE-1375: otel cleanup — bump deps, drop orphans, fix overlay assets (#183)
  compose.otel.yml
  otel/package-lock.json
  otel/package.json
  otel/tracing.js
  otel/tracing.mjs
Due: prettier --write

PAE-1360: Migrate orchestration compose.yml from LocalStack to Floci (#182)
  compose.yml
  compose/floci/init.sh
  compose/localstack/00-init.sh
  compose/localstack/01-start-localstack.sh
  compose/localstack/10-setup-buckets.sh
  compose/localstack/99-ready.sh
  compose/wire-mock/mappings/forms-api-file-download.json
Due: prettier --write

add vitest for github action script tests
  package-lock.json
  package.json
  vitest.config.mjs
Due: prettier --write
