Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

Revise ADR 0030 to reflect current registered-only edge-case code (#324)
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

PAE-1715: add ADR for Interim Site modelling and ingestion
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): status-management rules for registrations and accreditations
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): clarify create/approve date-setting as a matched pair
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): expand Rule 5 with where cancelled is checked and a worked example
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): record post-cancellation waste-balance leak as a confirmed defect
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): link BUG-1 and data-cleanup tickets; note submission is not gated
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): add target rules going forward so the ADR decides, not just records
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
Due: prettier --write, npm run adr:generate:toc

PAE-1715: address review feedback on interim site ADR
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
Due: prettier --write, npm run adr:generate:toc

PAE-1715: add ADR for Interim Site modelling and ingestion (#325)
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): merge validity-dates ADR into the status-management ADR
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
  docs/architecture/decisions/0042-status-management-rules-for-registrations-and-accreditations.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): include the regulator-issued number in Rules 1 and 2
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): note the cancellation effective date already exists (statusHistory.updatedAt)
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

use caret range for node engines
  package-lock.json
  package.json
Due: prettier --write

add shared run-journey-tests action with tested summary
  .github/actions/run-journey-tests/action.yml
  .github/actions/run-journey-tests/summary.mjs
  .github/actions/run-journey-tests/summary.test.mjs
Due: none

add shared journey-test-summary action
  .github/actions/journey-test-summary/action.yml
  .github/actions/journey-test-summary/summary.mjs
  .github/actions/journey-test-summary/summary.test.mjs
  .github/actions/run-journey-tests/action.yml
Due: none

add failed tests, skipped count and status line to summary
  .github/actions/journey-test-summary/summary.mjs
  .github/actions/journey-test-summary/summary.test.mjs
Due: none

normalise result timing to durationMs with explicit null
  .github/actions/journey-test-summary/summary.mjs
  .github/actions/journey-test-summary/summary.test.mjs
Due: none

post journey summary as a sticky pr comment
  .github/actions/journey-test-summary/action.yml
  .github/actions/journey-test-summary/summary.mjs
  .github/actions/journey-test-summary/summary.test.mjs
Due: none

PAE-1730: correct ADR 42 balance-gate wording and add PRN create/issue rules
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

PAE-1305: add shared journey-test-summary action (#332)
  .github/actions/journey-test-summary/action.yml
  .github/actions/journey-test-summary/summary.mjs
  .github/actions/journey-test-summary/summary.test.mjs
Due: none

PAE-1715: address review feedback on interim site ADR, accept ADR
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
Due: prettier --write, npm run adr:generate:toc

PAE-1715: address review feedback on interim site ADR, accept ADR (#331)
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Align ADR-0037 to the submitted/committed terminology
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/0037-summary-log-row-states-with-membership.md
  docs/architecture/decisions/0039-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1590: Align ADR-0037 to the submitted/committed terminology
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/0037-summary-log-row-states-with-membership.md
  docs/architecture/decisions/0039-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1590: Align ADR-0037 to the submitted/committed terminology (#335)
  docs/architecture/decisions/0036-event-sourced-waste-balance-stream.md
  docs/architecture/decisions/0037-summary-log-row-states-with-membership.md
  docs/architecture/decisions/0039-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1339: add fail-on-error option to lint-types-tests action
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

enforce test typecheck in test-and-scan; drop lint-types-tests action
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/package-lock.json
  .github/actions/lint-types-tests/package.json
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
  .github/actions/test-and-scan/action.yml
  .github/dependabot.yml
Due: prettier --write

PAE-1665: Add release-notes skill
  .claude/skills/release-notes/SKILL.md
Due: prettier --write

PAE-1698: add ADR for stale reports on PRN/PERN cancellation
  docs/architecture/decisions/0042-stale-reports-on-prn-cancellation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1665: Add jira skill
  .claude/skills/jira/SKILL.md
Due: prettier --write

PAE-1665: Document JIRA_EMAIL/JIRA_TOKEN prerequisite for release-notes
  .claude/skills/jira/SKILL.md
  .claude/skills/release-notes/SKILL.md
Due: prettier --write

lint-types-tests: add fail-on input for full-suite gate
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

PAE-1698: ADR for stale reports on PRN/PERN cancellation (#347)
  docs/architecture/decisions/0042-stale-reports-on-prn-cancellation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

lint-types-tests: document fail-on allowed values
  .github/actions/lint-types-tests/action.yml
Due: none

lint-types-tests: require fail-on, validate the value
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
Due: none

lint-types-tests: drop redundant (required) from description
  .github/actions/lint-types-tests/action.yml
Due: none

add typecheck-burndown action for per-lever strictness report
  .github/actions/typecheck-burndown/action.yml
  .github/actions/typecheck-burndown/burndown.mjs
  .github/actions/typecheck-burndown/burndown.test.mjs
Due: none

typecheck-burndown: fix groupBy element-type inference
  .github/actions/typecheck-burndown/burndown.mjs
Due: none

genericise lint-types action with label; drop inline prod typecheck
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
  .github/actions/test-and-scan/action.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
