Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

PAE-1824: Mark ADR 0045 Accepted (Proposal A) after review
  docs/architecture/decisions/0045-feature-flag-mechanism-across-epr-services.md
Due: prettier --write, npm run adr:generate:toc

PAE-1824: ADR 0045 — feature-flag mechanism across EPR services (#426)
  docs/architecture/decisions/0045-feature-flag-mechanism-across-epr-services.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1823: Enable PRN admin cancellation flag and document the accepted -> cancelled edge
  compose.yml
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

PAE-1823: Update prn-state-transitions.md for the relevant-year module rename and drop feature-flag references
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

PAE-1823: Enable PRN admin cancellation flag and document the accepted -> cancelled edge (#428)
  compose.yml
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

PAE-1843: Document obligation year on PRN acceptance
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1850: document obligation year in PRN responses
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1798: Add ADR for operator and regulator authorisation
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Record ADR 46 decisions as built
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Drop the interim section from ADR 46
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Name the scope vocabulary in ADR 46
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Carry every matched role on a session in ADR 46
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Record how a scope changes in ADR 46
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Correct what ADR 46 leaves unsolved
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Drop a cost ADR 46 does not pay
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

Name Entra app roles apart from a session's roles
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

PAE-1850: Restore generic paginated PRN schema
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Change status to Accepted in ADR 0046
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
Due: prettier --write, npm run adr:generate:toc

PAE-1843: Document obligation year on PRN acceptance (#429)
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1850: Document obligation year in PRN responses (#430)
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/api-definitions/internal-api.yaml
Due: none

format: apply prettier to files predating format:check
  .claude/skills/jira/SKILL.md
  .claude/skills/release-notes/SKILL.md
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
  docs/architecture/decisions/0041-interim-site-modelling-and-ingestion.md
  docs/architecture/decisions/0042-stale-reports-on-prn-cancellation.md
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
  docs/architecture/decisions/0044-registration-and-accreditation-validity-and-status-rules.md
  docs/architecture/defined/prn-state-transitions.md
  renovate-presets/default.json
Due: prettier --write, npm run adr:generate:toc

PAE-1832: add pr-gate action aggregating blocking jobs
  .github/actions/pr-gate/action.yml
  .github/actions/pr-gate/gate.mjs
  .github/actions/pr-gate/gate.test.mjs
  .github/actions/pr-gate/package-lock.json
  .github/actions/pr-gate/package.json
Due: prettier --write

PAE-1832: run tests, format check and gate in service ci
  .github/workflows/check-pull-request.yml
Due: none

PAE-1798: Add ADR for operator and regulator authorisation (#423)
  docs/architecture/decisions/0046-operator-and-regulator-authorisation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1868: Update reapply-accreditation dev env vars to new window format
  compose.yml
Due: none

PAE-1868: Update reapply-accreditation dev env vars to new window format (#433)
  compose.yml
Due: none

PAE-1871: pin mongo to the version cdp runs
  compose.yml
  renovate-presets/default.json
Due: prettier --write

PAE-1871: pin mongo to the version cdp runs (#435)
  compose.yml
  renovate-presets/default.json
Due: prettier --write

PAE-000: quieten idle healthchecks in the local stack
  compose.yml
Due: none

PAE-1859: Document admin cancellation of awaiting-acceptance PRNs/PERNs
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

PAE-1859: Document admin cancellation of awaiting-acceptance PRNs/PERNs (#432)
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

wire analytics env vars into the local frontend
  compose.yml
Due: none

PAE-000: quieten idle healthchecks in the local stack (#436)
  compose.yml
Due: none

PAE-1871: wire analytics env vars into the local stack (#437)
  compose.yml
Due: none

Add ADR-0048: reconcile stale PRN projections
  docs/architecture/decisions/0048-reconcile-stale-prn-projections.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Renumber ADR to 0047 to stay consistent with main
  docs/architecture/decisions/0047-reconcile-stale-prn-projections.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Mark ADR-0047 as Accepted following PR approval
  docs/architecture/decisions/0047-reconcile-stale-prn-projections.md
Due: prettier --write, npm run adr:generate:toc

Add ADR 0047 on glass as two material types
  docs/architecture/decisions/0047-glass-as-two-material-types.md
  docs/architecture/decisions/index.md
  docs/architecture/discovery/glass-material-model.md
  docs/architecture/discovery/index.md
Due: prettier --write, npm run adr:generate:toc

ADR-0047: reconcile stale PRN projections (#439)
  docs/architecture/decisions/0047-reconcile-stale-prn-projections.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1842: Update gitmodules to use consolidated perf test repo
  .gitmodules
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
