Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

Mark generated column-rules page clearly as tool-generated
  docs/architecture/defined/summary-log-column-rules.md
Due: prettier --write

PAE-000: State that no unsplit glass data exists in ADR-0050 (#475)
  docs/architecture/decisions/0050-glass-as-two-material-types.md
Due: prettier --write, npm run adr:generate:toc

Move generated column rules to epr-backend, slim the hand docs
  docs/architecture/defined/index.md
  docs/architecture/defined/report-creation-mandatory-fields.md
  docs/architecture/defined/summary-log-column-rules.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

Snapshot summary-log failure-codes doc against current code
  docs/architecture/defined/summary-log-validation-failure-codes.md
Due: prettier --write

Host the generated Summary Log Rules reference in the binder
  .prettierignore
  docs/architecture/defined/index.md
  docs/architecture/defined/report-creation-mandatory-fields.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-rules.md
Due: prettier --write

PAE-1922: Default the local December Waste window to real December
  compose.yml
Due: none

Note the report-creation gate is feature-flagged off in prod
  docs/architecture/defined/report-creation-mandatory-fields.md
Due: prettier --write

PAE-1967: Mark ADR-0049 (December-waste PRNs) as Accepted
  docs/architecture/decisions/0049-december-waste-prns.md
Due: prettier --write, npm run adr:generate:toc

PAE-1967: Document December-waste PRNs in binder docs
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/prn-state-transitions.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1967: Accept ADR-0049 and document December-waste PRNs (#478)
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0049-december-waste-prns.md
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/prn-state-transitions.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write, npm run adr:generate:toc

PAE-1978: Document summary-log validation rules (#479)
  .prettierignore
  docs/architecture/defined/index.md
  docs/architecture/defined/report-creation-mandatory-fields.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-rules.md
  docs/architecture/defined/summary-log-validation-failure-codes.md
Due: prettier --write

PAE-1966: Add local Grafana + floci CloudWatch metrics pipeline
  .github/workflows/check-pull-request.yml
  compose.yml
  compose/emf-collector/Dockerfile
  compose/emf-collector/docker-entrypoint.sh
  compose/emf-collector/index.js
  compose/emf-collector/package-lock.json
  compose/emf-collector/package.json
  compose/grafana/provisioning/dashboards/dashboards.yml
  compose/grafana/provisioning/dashboards/json/epr-re-ex-service.json
  compose/grafana/provisioning/datasources/cloudwatch.yml
  docs/guides/index.md
  docs/guides/local-grafana-metrics.md
  sonar-project.properties
Due: prettier --write

PAE-1966: Make the local metrics stack opt-in and fix Dockerfile root user
  compose.metrics.yml
  compose.yml
  compose/emf-collector/Dockerfile
  compose/emf-collector/docker-entrypoint.sh
  docs/guides/local-grafana-metrics.md
  package.json
  sonar-project.properties
Due: prettier --write

PAE-1966: Drop the version tag, keep the digest-only FROM
  compose/emf-collector/Dockerfile
Due: none

PAE-1966: Don't hardcode GOVUK_NOTIFY_API_KEY in dev:metrics
  package.json
Due: prettier --write

PAE-1966: Add local Grafana + floci CloudWatch metrics (#481)
  .github/workflows/check-pull-request.yml
  compose.metrics.yml
  compose.yml
  compose/emf-collector/Dockerfile
  compose/emf-collector/index.js
  compose/emf-collector/package-lock.json
  compose/emf-collector/package.json
  compose/grafana/provisioning/dashboards/dashboards.yml
  compose/grafana/provisioning/dashboards/json/epr-re-ex-service.json
  compose/grafana/provisioning/datasources/cloudwatch.yml
  docs/guides/index.md
  docs/guides/local-grafana-metrics.md
  package.json
Due: prettier --write

Add the missing export inputs and regulator download
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

List what each admin export reads
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Add admin exports to the data flow overview
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Say exports are built on request, not unstored
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Correct the exports node and trim its section
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-000: Add admin and regulator exports to the data flow overview (#487)
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Correct and trim the data flow overview
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Add the reads, flags and PRN moves review found
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-000: Correct and trim the data flow overview (#488)
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Correct and trim the data flow invalidation map
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Qualify invalidation claims found too strong
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Correct invalidation claims found wrong in review
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-000: Replace accreditation validity window with a scheme year
  docs/architecture/decisions/0050-status-as-a-dated-timeline.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add ADR-0052 for the organisation read model
  docs/architecture/decisions/0052-organisation-read-model.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add overseas sites to the organisation read model
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add backend-only fields to the organisation read model
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Key accreditations by year and list affected endpoints
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Serve the read model from a new organisation number endpoint
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Clarify organisationNumber is the business reference
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add sub-resources under the new organisation endpoint
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-2012: Propose ADR 0051 for carrying cross-year exporter loads forward
  docs/architecture/decisions/0051-carry-forward-cross-year-exporter-loads.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: List stored organisation fields that nothing reads
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

PAE-2012: Derive the carry-forward set from row states instead of storing it
  docs/architecture/decisions/0051-carry-forward-cross-year-exporter-loads.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Read overseas sites from the registration, with no endpoint of their own
  docs/architecture/decisions/0052-organisation-read-model.md
Due: prettier --write, npm run adr:generate:toc

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
