Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-1082: Waste balance rounding ADR
  docs/architecture/decisions/0027-waste-balance-precision-decimal-rounding.md
  docs/architecture/decisions/index.md
  package-lock.json
  package.json
Due: prettier --write, npm run adr:generate:toc

PAE-1082: reverted package changes
  package-lock.json
  package.json
Due: prettier --write

PAE-1082: revert package lock change
  package-lock.json
Due: prettier --write

add sync message to localstack script
  compose/localstack/01-start-localstack.sh
Due: none

PAE-000: Update Testing READMEs
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0006-performance-tests.md
Due: prettier --write

remove defra-id feature flag
  compose.yml
Due: none

PAE-000: Update Testing READMEs (#87)
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0006-performance-tests.md
Due: prettier --write

remove unused pre-commit hook
  package.json
Due: prettier --write

add external api feature flag with default
  compose.yml
Due: none

Fixing Error when running docker compose up.
  compose.yml
Due: none

default to using http://cognito-stub in docker compose
  compose.yml
Due: none

sort env vars for epr-backend
  compose.yml
Due: none

Fixing Error when running docker compose up. (#89)
  compose.yml
Due: none

Add ADR for waste organisation resolution
  docs/architecture/decisions/0027-waste-organisation-resolution-for-prn-creation.md
Due: prettier --write, npm run adr:generate:toc

Update ADR index with entry 27
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Complete ADR with decision and consequences
  docs/architecture/decisions/0027-waste-organisation-resolution-for-prn-creation.md
Due: prettier --write, npm run adr:generate:toc

Soften migration certainty in ADR wording
  docs/architecture/decisions/0027-waste-organisation-resolution-for-prn-creation.md
Due: prettier --write, npm run adr:generate:toc

Add ADR for orgId as primary organisation identifier
  docs/architecture/decisions/0027-organisation-primary-identifier.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1083: docker compose tweaks (#85)
  compose.yml
  compose/localstack/01-start-localstack.sh
  package.json
Due: prettier --write

add WASTE_ORGANISATIONS_API_USE_INMEMORY to compose
  compose.yml
Due: none

PAE-NOJIRA: Add WASTE_ORGANISATIONS_API_USE_INMEMORY to compose (#93)
  compose.yml
Due: none

Add referenceNumber analysis to ADR 0027
  docs/architecture/decisions/0027-organisation-primary-identifier.md
Due: prettier --write, npm run adr:generate:toc

Document referenceNumber as accidental credential
  docs/architecture/decisions/0027-organisation-primary-identifier.md
Due: prettier --write, npm run adr:generate:toc

Remove presumptuous 'accidental' framing of referenceNumber
  docs/architecture/decisions/0027-organisation-primary-identifier.md
Due: prettier --write, npm run adr:generate:toc

PAE-972: Add ADR-0027 — DLQ as investigation tool, not recovery mechanism
  docs/architecture/decisions/0027-dlq-role-and-message-lifecycle.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Remove FEATURE_FLAG_SQS_COMMANDS and PISCINA_MAX_THREADS from compose files
  compose.yml
Due: none

PAE-1082: PR Comment
  docs/architecture/decisions/0027-waste-balance-precision-decimal-rounding.md
Due: prettier --write, npm run adr:generate:toc

PAE-1082: Waste balance rounding error ADR (#86)
  docs/architecture/decisions/0027-waste-balance-precision-decimal-rounding.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add new 422 response to the external api yaml
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

Complete ADR with decision and consequences
  docs/architecture/decisions/0028-waste-organisation-resolution-for-prn-creation.md
Due: prettier --write, npm run adr:generate:toc

Update ADR index with entry 27
  docs/architecture/decisions/0028-waste-organisation-resolution-for-prn-creation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Soften migration certainty in ADR wording
  docs/architecture/decisions/0028-waste-organisation-resolution-for-prn-creation.md
Due: prettier --write, npm run adr:generate:toc

Address review feedback on ADR
  docs/architecture/decisions/0028-waste-organisation-resolution-for-prn-creation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Removed redundant ADR
  docs/architecture/decisions/0027-waste-balance-precision-decimal-rounding.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Removed redundant ADR (#95)
  docs/architecture/decisions/0027-waste-balance-precision-decimal-rounding.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc
