Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

PAE-000: bump renovate-docker setup-node to v6.4.0 (#278)
  .github/actions/renovate-docker/action.yml
  .github/dependabot.yml
Due: none

PAE-000: exempt node base image from minimumReleaseAge
  renovate-presets/default.json
Due: prettier --write

PAE-000: pin node image digest via renovate
  renovate-presets/default.json
Due: prettier --write

PAE-000: restore prettier formatting (keep inline arrays)
  renovate-presets/default.json
Due: prettier --write

PAE-000: manage node base image cooldown + digest pinning (#290)
  renovate-presets/default.json
Due: prettier --write

Record label-derivation location as open in ADR-0038
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
Due: prettier --write, npm run adr:generate:toc

Reference PAE-1649 and PAE-1650 as the operator-frontend consumers
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
Due: prettier --write, npm run adr:generate:toc

ADR-0038: document report and consumer impact of resubmission
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
Due: prettier --write, npm run adr:generate:toc

ADR-0038: cite PAE-1659 / PAE-1660 for the feed and public register fixes
  docs/architecture/decisions/0038-report-resubmission-for-closed-periods.md
Due: prettier --write, npm run adr:generate:toc

Document ORS_NOT_FOUND exclusion reason
  docs/architecture/defined/summary-log-data-flow.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

Assign VAL015 to ORS_NOT_FOUND rule
  docs/architecture/defined/summary-log-data-flow.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

PAE-1647: Document ORS_NOT_FOUND exclusion reason (#292)
  docs/architecture/defined/summary-log-data-flow.md
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: prettier --write

Renumber closed-period resubmission ADR to 0039; defer derivation to ADR-0038
  docs/architecture/decisions/0039-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: Add report resubmission for closed periods ADR (#280)
  docs/architecture/decisions/0039-report-resubmission-for-closed-periods.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add ADR-0038: derive report status and state in the backend
  docs/architecture/decisions/0038-derive-report-state-in-backend.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

pin docker-compose image digests
  renovate-presets/default.json
Due: prettier --write

PAE-1663: Add ADR-0038 deriving report status and state in the backend (#293)
  docs/architecture/decisions/0038-derive-report-state-in-backend.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-000: pin docker-compose image digests (#294)
  renovate-presets/default.json
Due: prettier --write

PAE-000: drop node <25 clamp, support caret engine range
  renovate-presets/default.json
Due: prettier --write

PAE-000: track node lts via renovate, drop <25 clamp (#297)
  renovate-presets/default.json
Due: prettier --write

PAE-1665: Add PRN state transitions to defined architecture docs
  docs/architecture/defined/index.md
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

Use <br/> for Mermaid line breaks in PRN diagram
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

PAE-1665: Document PRN state transitions (#304)
  docs/architecture/defined/index.md
  docs/architecture/defined/prn-state-transitions.md
Due: prettier --write

Enable enhanced check page flag in compose
  compose.yml
Due: none

PAE-1541: Enable enhanced summary log check page in compose (#306)
  compose.yml
Due: none

PAE-1648: Enable FEATURE_FLAG_CLOSED_PERIOD_ADJUSTMENTS in compose
  compose.yml
Due: none

PAE-1648: Enable closed-period adjustments flag in compose (#307)
  compose.yml
Due: none

Revise ADR-0038 to shipped resubmission contract
  docs/architecture/decisions/0038-derive-report-state-in-backend.md
Due: prettier --write, npm run adr:generate:toc

Match ADR-0038 example to real calendar response
  docs/architecture/decisions/0038-derive-report-state-in-backend.md
Due: prettier --write, npm run adr:generate:toc

set mise minimum_release_age to 3d
  mise.toml
Due: none

PAE-000: set mise minimum_release_age to 3d (#320)
  mise.toml
Due: none

PAE-1650: Revise ADR-0038 to match the shipped requires_resubmission contract (#313)
  docs/architecture/decisions/0038-derive-report-state-in-backend.md
Due: prettier --write, npm run adr:generate:toc

centralise test-and-scan action with per-publish sonar version
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  docs/architecture/decisions/0040-reset-sonar-new-code-baseline-per-publish.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): add ADR-0040 for registration/accreditation validity dates
  docs/architecture/decisions/0040-registration-and-accreditation-validity-dates.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): drop reporting-cadence rule from ADR-0040
  docs/architecture/decisions/0040-registration-and-accreditation-validity-dates.md
Due: prettier --write, npm run adr:generate:toc

mark adr-0040 accepted
  docs/architecture/decisions/0040-reset-sonar-new-code-baseline-per-publish.md
Due: prettier --write, npm run adr:generate:toc

PAE-1709: centralise test-and-scan and reset sonar new-code baseline per publish (#322)
  .github/actions/test-and-scan/action.yml
  .github/workflows/check-pull-request.yml
  docs/architecture/decisions/0040-reset-sonar-new-code-baseline-per-publish.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): record status-transition rules for validFrom in ADR-0040
  docs/architecture/decisions/0040-registration-and-accreditation-validity-dates.md
Due: prettier --write, npm run adr:generate:toc

Revise ADR 0030 to reflect current reg-only edge-case code
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc

Reject ADR 0030 as a standing record
  docs/architecture/decisions/0030-registered-only-edge-cases.md
Due: prettier --write, npm run adr:generate:toc
