Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

PAE-1384 allow sensitive logs (#196)
  compose.yml
Due: none

Spell out interim balance state between crash and re-upload
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Add delta reconciliation to ADR 0031 (#195)
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1339: Add blocking lint:types CI step (#184)
  .github/workflows/check-pull-request.yml
  jsconfig.typecheck.json
  package-lock.json
  package.json
Due: prettier --write

PAE-1382: Update pepr-lld waste balance for ADR 0031
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Clarify rowId uniqueness and business identifier
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

PAE-1382: Update summary-log-data-flow to match ADR 0031
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

PAE-1384: rename FEATURE_FLAG_ALLOW_SENSITIVE_LOGS to ALLOW_FULL_ERROR_OUTPUT
  compose.yml
Due: none

PAE-1384: rename feature flag (#199)
  compose.yml
Due: none

PAE-1339: Pin @types/node at root for typecheck stability
  package-lock.json
  package.json
Due: prettier --write

Add ADR 0032 commit-marker alternative
  docs/architecture/decisions/0032-waste-balance-commit-marker-alternative.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Use predecessorId chain for canonical pointer
  docs/architecture/decisions/0032-waste-balance-commit-marker-alternative.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Add ledger rollout and cutover recommendation
  docs/architecture/discovery/index.md
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Address review - EMF metrics, scenario-A clarity, backfill concurrency
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Remove internal tracking refs from doc
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Record commit-marker alternative to ADR 0031 (#201)
  docs/architecture/decisions/0032-waste-balance-commit-marker-alternative.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1339: Pin @types/node at root for typecheck stability (#200)
  package-lock.json
  package.json
Due: prettier --write

Pin @types/node to 24.x
  package-lock.json
  package.json
Due: prettier --write

PAE-1339: Pin @types/node to 24.x to match Node engine (#203)
  package-lock.json
  package.json
Due: prettier --write

PAE-1409: backfill formSubmission lineage migration
  compose.yml
Due: none

PAE-1382: Document decimal arithmetic discipline in ADR 0031
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Amend ADR 0031 to denormalise running credited amount per wasteRecordId
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Address review on ADR 0031 amendment
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Restructure source-row schema in ADR 0031 amendment
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Note descending-on-number intent in secondary index spec
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Amend ADR 0031 to denormalise creditedAmount and restructure wasteRecord schema
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Amend ADR 0031 to split actor (createdBy) and cause (source)
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Revise cutover to lazy write-triggered rebuild
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Clarify createdBy attribution mirrors live path on replay
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Tighten cutover doc and fix migration timing
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Drop open-questions and ADR-consistency sections
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1412: default fe and admin-fe log-format to ecs in compose
  compose.yml
Due: none

PAE-1412: default fe and admin-fe log-format to ecs in compose (#208)
  compose.yml
Due: none

PAE-1382: Pin cutover mechanisms and slim peripheral sections
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Reframe rollout doc on embedded/ledger vocabulary
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1382: Strip amendment history from ADR 0031, keep final state only
  docs/architecture/decisions/0031-waste-balance-transaction-ledger.md
Due: prettier --write, npm run adr:generate:toc

PAE-1382: Switch cutover to upfront sweep with tri-state marker
  docs/architecture/discovery/waste-balance-ledger-rollout.md
Due: prettier --write

PAE-1381: Enable report unsubmit for epr-backend
  compose.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
