Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run adr:generate:toc

PAE-257: raise tooling and other minor fixes up from epr-backend (#5)
  .adr-dir
  .editorconfig
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc.js
  CONTRIBUTING.md
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
  package.json
Due: npm run format, npm run adr:generate:toc

PAE-243: add waste balance detail to LLD
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-475: Updates summary log LLD
  .gitignore
  docs/architecture/defined/summary-log-submission-lld.md
Due: npm run format

PAE-475: Updates summary log LLD (#8)
  .gitignore
  docs/architecture/defined/summary-log-submission-lld.md
Due: npm run format

PAE-556: Update LLD docs for CDP upload proxy
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

docs: update LLD to reflect actual summary log and waste record implementation
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-000: Update LLD to reflect actual summary log and waste record implementation (#11)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-492: add submodule cloning instructions
  README.md
Due: npm run format

Fix redirect URL in sequence diagram
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

Remove inaccurate session references from LLD
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-556: Update LLD docs for CDP upload proxy (#9)
  docs/architecture/defined/summary-log-submission-lld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-243: update with PR feedback
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-243: add waste balance detail to LLD (#7)
  docs/architecture/discovery/pepr-hld.md
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-000: add PRN data model along with the api-definition for external PRN management (RPD tactical endpoints)
  docs/architecture/api-definitions/external-manage-prns.yaml
  docs/architecture/discovery/pepr-lld.md
Due: npm run format

PAE-000: update api definition
  docs/architecture/api-definitions/external-manage-prns.yaml
Due: none

docs: add summary log validation LLD
  docs/architecture/defined/summary-log-validation-lld.md
Due: npm run format

Add cooldown to dependabot updates
  .github/dependabot.yml
Due: none

PAE-581: Add cooldown to dependabot updates (#16)
  .github/dependabot.yml
Due: none

PAE-602: Remove unused environment variables from compose.yml
  compose.yml
Due: none

docs: add summary log row validation classification
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

docs: simplify validation classification
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

docs: rename VALID to INCLUDED for symmetry with EXCLUDED
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

docs: show VAL011 and VAL013 as separate decisions in flowchart
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

docs: clarify INCLUDED/EXCLUDED refers to Waste Balance, not submission
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

PAE-139: Add summary log row validation classification (#17)
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

PAE-602: Remove unused environment variables from compose.yml (#18)
  compose.yml
Due: none

PAE-585: Align validation LLD with row classification flowchart
  docs/architecture/defined/summary-log-validation-lld.md
Due: npm run format

PAE-589 Add ADR for auditing approach
  docs/architecture/decisions/0023-auditing-aproach.md
Due: npm run format, npm run adr:generate:toc

PAE-585: Rename mandatoryFields to wasteBalanceRequiredFields
  docs/architecture/defined/summary-log-validation-lld.md
Due: npm run format

refactor: rename wasteBalanceRequiredFields to fieldsRequiredForWasteBalance
  docs/architecture/defined/summary-log-validation-lld.md
Due: npm run format

docs: align row classification terminology with LLD
  docs/architecture/defined/summary-log-row-validation-classification.md
Due: npm run format

docs: add missing documents to index files
  docs/architecture/defined/index.md
  docs/architecture/discovery/index.md
Due: npm run format

Path conditions:
  npm run format: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
