Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

add lint-types action; keep lint-types-tests for transition
  .github/actions/lint-types/action.yml
  .github/actions/lint-types/package-lock.json
  .github/actions/lint-types/package.json
  .github/actions/lint-types/summary.mjs
  .github/actions/lint-types/summary.test.mjs
Due: prettier --write

PAE-000: lint-types-tests fail-on input + typecheck-burndown action (#349)
  .github/actions/lint-types/action.yml
  .github/actions/lint-types/package-lock.json
  .github/actions/lint-types/package.json
  .github/actions/lint-types/summary.mjs
  .github/actions/lint-types/summary.test.mjs
  .github/actions/test-and-scan/action.yml
  .github/actions/typecheck-burndown/action.yml
  .github/actions/typecheck-burndown/burndown.mjs
  .github/actions/typecheck-burndown/burndown.test.mjs
Due: prettier --write

port lint-types summary off removed typescript api for ts7
  .github/actions/lint-types-tests/summary.mjs
Due: none

port lint-types summary off removed typescript api for ts7
  .github/actions/lint-types/summary.mjs
Due: none

drop lint-types-tests action; tidy lint-types naming
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/package-lock.json
  .github/actions/lint-types-tests/package.json
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
  .github/actions/lint-types/action.yml
  .github/actions/lint-types/package-lock.json
  .github/actions/lint-types/package.json
  .github/actions/lint-types/summary.mjs
  .github/actions/lint-types/summary.test.mjs
  .github/dependabot.yml
Due: prettier --write

PAE-000: drop lint-types-tests action after migration to lint-types (#350)
  .github/actions/lint-types-tests/action.yml
  .github/actions/lint-types-tests/package-lock.json
  .github/actions/lint-types-tests/package.json
  .github/actions/lint-types-tests/summary.mjs
  .github/actions/lint-types-tests/summary.test.mjs
  .github/actions/lint-types/action.yml
  .github/actions/lint-types/package-lock.json
  .github/actions/lint-types/package.json
  .github/actions/lint-types/summary.mjs
  .github/actions/lint-types/summary.test.mjs
  .github/dependabot.yml
Due: prettier --write

bind-mount fe/admin src for reliable local watch
  compose.yml
Due: none

PAE-1665: Add release-notes skill (#333)
  .claude/skills/jira/SKILL.md
  .claude/skills/release-notes/SKILL.md
Due: prettier --write

pin nginx-proxy to 1.11.5 patch tag
  compose.yml
Due: none

ci: make SonarCloud scan non-blocking during outage (PAE-1749)
  .github/actions/test-and-scan/action.yml
Due: none

ci: make SonarCloud scan non-blocking during outage (#361)
  .github/actions/test-and-scan/action.yml
Due: none

PAE-1308: bind-mount fe/admin src in local compose (#351)
  compose.yml
Due: none

chore: remove enhanced summary log check pages flag
  compose.yml
Due: none

PAE-1597: Remove enhanced summary log check pages env flag (#311)
  compose.yml
Due: none

PAE-1652: Add ADR for operator-initiated report resubmission
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1652: Address review comments on ADR-0043
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
Due: prettier --write, npm run adr:generate:toc

PAE-1652: Rephrase resubmissionRequired invariant as design decision
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
Due: prettier --write, npm run adr:generate:toc

PAE-1652: Add ADR for operator-initiated report resubmission (#367)
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1652: Enable operator-initiated resubmission and closed-period adjustments locally
  compose.yml
Due: none

PAE-1652: Mark ADR-0043 as Accepted
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
Due: prettier --write, npm run adr:generate:toc

PAE-1652: Mark ADR-0043 as Accepted, enable feature flags locally (#368)
  compose.yml
  docs/architecture/decisions/0043-operator-initiated-report-resubmission.md
Due: prettier --write, npm run adr:generate:toc

Consolidate journey-tests repos into epr-re-ex-journey-tests
  .gitmodules
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  compose.yml
  compose/floci/init.sh
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0005-proxy-mode.md
  frontend.code-workspace
Due: prettier --write, npm run adr:generate:toc

Sync floci init.sh optimisations from epr-re-ex-journey-tests
  compose/floci/init.sh
Due: none

Assign positional parameters to local variables in floci init.sh
  compose/floci/init.sh
Due: none

Pae 1405 consolidate journey tests repo (#382)
  .gitmodules
  admin.code-workspace
  all.code-workspace
  backend.code-workspace
  compose.yml
  compose/floci/init.sh
  docs/architecture/decisions/0033-admin-ui-scope-based-rbac.md
  docs/testing/0002-test-coverage.md
  docs/testing/0003-running-tests.md
  docs/testing/0004-data-generator.md
  docs/testing/0005-proxy-mode.md
  frontend.code-workspace
Due: prettier --write, npm run adr:generate:toc

PAE-1705: docs - registrations cannot be suspended; force-cancel cascade
  docs/architecture/decisions/0025-public-register-generation.md
  docs/architecture/decisions/0030-registered-only-edge-cases.md
  docs/architecture/defined/forms-data-logical-data-model.md
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write, npm run adr:generate:toc

PAE-1705: architecture docs — registrations cannot be suspended (#386)
  docs/architecture/decisions/0025-public-register-generation.md
  docs/architecture/decisions/0030-registered-only-edge-cases.md
  docs/architecture/defined/forms-data-logical-data-model.md
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): record registration suspension as resolved by PAE-1705
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

PAE-1697: drop closed-period adjustment flags from compose
  compose.yml
Due: none

PAE-1697: remove closed-period-adjustments feature flag (#387)
  compose.yml
Due: none

Update Defra ID stub to EPR RE EX Defra ID stub
  compose.yml
  docs/guides/local-login.md
  scripts/seed-defra-id-stub.mjs
Due: prettier --write

Update Defra ID stub to EPR RE EX Defra ID stub (#389)
  compose.yml
  docs/guides/local-login.md
  scripts/seed-defra-id-stub.mjs
Due: prettier --write

Fix npm vulnerabilities and align npmrc
  .npmrc
  package-lock.json
Due: prettier --write

PAE-000: parameterise compose host ports for concurrent stacks
  compose.yml
Due: none

PAE-000: drop dead copy-form-files-to-s3 feature flag
  compose.yml
Due: none

PAE-000: point uploader APP_BASE_URL at the stack's published port
  compose.yml
Due: none

PAE-250: Fix brace-expansion, postcss, tar and js-yaml vulnerabilities (#397)
  .npmrc
  package-lock.json
Due: prettier --write

per-stack auth urls: defra-id 0.5.0 oidc split + entra offsets
  compose.yml
Due: none

bump defra-id-stub to 0.6.0 for the stable token issuer
  compose.yml
Due: none

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
