Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

PAE-1216: review comment
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-1163: Regulatory reporting data model
  docs/architecture/discovery/regulatory-reporting-data-model.md
Due: prettier --write

PAE-1216: review comment
  docs/architecture/discovery/regulatory-reporting-data-model.md
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

PAE-1163: Regulatory reporting data model (#120)
  docs/architecture/discovery/reporting-data-model.md
Due: prettier --write

update the api definition
  docs/architecture/api-definitions/internal-api.yaml
Due: none

update api definition (#127)
  docs/architecture/api-definitions/internal-api.yaml
Due: none

PAE-1235: Add ADR-0028 for reporting API and due rules
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1206: registered-only operators - feature-flag
  compose.journey.test.yml
Due: none

PAE-1235: Add {cadence} to report endpoint paths
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

Add ORS S3 bucket to test infrastructure
  compose.yml
  compose/localstack/01-start-localstack.sh
Due: none

PAE-834: Add ORS S3 bucket to test infrastructure (#130)
  compose.yml
  compose/localstack/01-start-localstack.sh
Due: none

Update docs/architecture/decisions/0028-reporting-api-and-due-rules.md
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

Updates to spec
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

remove details
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

ignore
  .gitignore
Due: none

PAE-1235: Update ADR-0028 and API definition per review feedback
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

PAE-1235: Add ADR for reporting API and due rules (#128)
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

docs(reports): update API spec and ADR for report lifecycle
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

a first stab at a shared .claude folder
  .claude/commands/commit.md
  .claude/commands/createbranch.md
  .claude/commands/createpr.md
  .claude/commands/generate-summary-log-xlsx.md
  .claude/commands/push.md
  .claude/rules/project.md
  .claude/settings.json
  .claude/skills/type-safety/SKILL.md
  .gitignore
  CLAUDE.md
Due: prettier --write

tidy up guidance v instructions
  .claude/rules/project.md
  CLAUDE.md
Due: prettier --write

PAE-1235: Update API spec and ADR for reporting lifecycle (#132)
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

PAE-1261: ADR 29 — Compute on write for loadsByWasteRecordType
  docs/architecture/decisions/0029-compute-on-write-for-loads-by-waste-record-type.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

PAE-1261: ADR 29 — Compute on write for loadsByWasteRecordType (#135)
  docs/architecture/decisions/0029-compute-on-write-for-loads-by-waste-record-type.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Fix ADR 25 heading number
  docs/architecture/decisions/0025-public-register-generation.md
Due: prettier --write, npm run adr:generate:toc

Update ADR table of contents
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Apply suggestion from @dansweeting
  docs/architecture/decisions/0030-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

ADR 0027: single SQS queue for backend commands
  docs/architecture/decisions/0030-single-sqs-queue-for-backend-commands.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Add upcoming queue-based features to ADR 0027 context
  docs/architecture/decisions/0030-single-sqs-queue-for-backend-commands.md
Due: prettier --write, npm run adr:generate:toc

docs(reports): define ReportDetail API shape and update ADR
  .gitignore
  docs/architecture/api-definitions/internal-api.yaml
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
Due: prettier --write, npm run adr:generate:toc

remove superseded, deleted
  docs/architecture/api-definitions/internal-api.yaml
Due: none

Apply formatting
  .github/actions/test-and-scan/action.yml
  .lintstagedrc.mjs
  compose.yml
  docs/architecture/decisions/0022-translation-process-for-english-welsh-strings.md
  docs/architecture/decisions/0024-create-prn-api-strategy.md
  docs/architecture/decisions/0027-modular-monolith-structure.md
  docs/architecture/decisions/0028-reporting-api-and-due-rules.md
  docs/architecture/defined/epr-frontend-page-navigation.md
  docs/architecture/defined/summary-log-processing-failure-handling.md
  docs/architecture/defined/summary-log-row-validation-classification.md
  docs/architecture/defined/summary-log-validation-lld.md
  docs/architecture/discovery/ors-management.md
  docs/guides/connecting-to-the-waste-organisations-api.md
Due: prettier --write, npm run adr:generate:toc

add various things to gitihgnore
  .gitignore
Due: none

remove vairous things from gitignore
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .gitignore
  AGENTS.md
  CLAUDE.local.md
  docs/plans/1235-c1-d5-response-shape-alignment.md
  docs/plans/1235-pr-review.md
  docs/plans/2026-03-23-reporting-api-lifecycle.md
  prompts/PAE-1131-move-date-validation-to-table-schemas.md
Due: prettier --write

PAE-000: Fix ADR 25 heading number (#136)
  docs/architecture/decisions/0025-public-register-generation.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Path conditions:
  prettier --write: any of: *.{js,json,md}
  npm run adr:generate:toc: any of: docs/architecture/decisions/*.md
