Repository DEFRA/epr-re-ex-service: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run adr:generate:toc

.lintstagedrc.json:

{
  "*.{js,json,md}": "prettier --write",
  "docs/architecture/decisions/*.md": "npm run adr:generate:toc"
}

give each frontend its own per-stack app-base-url
  compose.yml
Due: none

Correct waste-record provenance in defined docs
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Drop version-chain wording from data flow doc
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Replace waste record version statuses with outcomes
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

Correct the waste record classification outcomes
  docs/architecture/defined/pepr-hld.md
Due: prettier --write

Tighten the ignored row and status wording
  docs/architecture/defined/pepr-hld.md
Due: prettier --write

Sharpen the classification and provenance claims
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/summary-log-data-flow.md
Due: prettier --write

docs(adr): update ADR 42 for delivered PAE-1598 status work
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): lead ADR 42 with the question it answers
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): rephrase ADR 42 framing in formal ADR language
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

Replace the waste record version chain in the pEPR LLD
  docs/architecture/defined/pepr-lld.md
Due: prettier --write

Describe the row state write in the submission LLD
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

docs(adr): reframe ADR 42 as a pre-implementation decision record
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

Correct the row state claims a review found overstated
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

docs(adr): dated cancellation as Rule 5; drop reverts and defect framing
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

docs(adr): rewrite ADR 42 as a concise status-transition rulebook
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

Qualify the weight identities and the write cost
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

docs(adr): correct ADR 42 to the two status-history endpoints
  docs/architecture/decisions/0042-registration-and-accreditation-validity-and-status-rules.md
Due: prettier --write, npm run adr:generate:toc

PAE-1779: Correct the waste record persistence claims in the defined architecture docs (#405)
  docs/architecture/defined/pepr-hld.md
  docs/architecture/defined/pepr-lld.md
  docs/architecture/defined/summary-log-data-flow.md
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

PAE-1718 registration & accreditation validity dates and status-management rules (#326)
  docs/architecture/decisions/0044-registration-and-accreditation-validity-and-status-rules.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc

Update compose file configuration for Defra ID and Entra stubs
  compose.yml
Due: none

Update compose file configuration for Defra ID and Entra stubs (#406)
  compose.yml
Due: none

PAE-1798 add entra config for epr-frontend regulator login
  compose.yml
Due: none

PAE-000: add entra stub to all workspace (#266)
  all.code-workspace
Due: none

PAE-000: run several local stacks concurrently (ports, inspectors, uploader, auth) (#398)
  compose.yml
Due: none

PAE-000: drop dead copy-form-files-to-s3 feature flag (#399)
  compose.yml
Due: none

PAE-1798 add entra config for epr-frontend regulator login (#407)
  compose.yml
Due: none

wait for the auth stubs to be healthy before starting the apps
  compose.yml
Due: none

PAE-000: wait for the auth stubs to be healthy before starting the apps (#408)
  compose.yml
Due: none

make notify a no-op in the local stack
  compose.yml
  compose/secrets/govuk-notify-api-key
Due: none

stop requiring a notify key to run the stack locally
  CONTRIBUTING.md
  docs/guides/admin-local-login.md
  docs/guides/local-login.md
  package.json
Due: prettier --write

Fix reapply accreditation vars in binder compose
  compose.yml
Due: none

PAE-1791: Fix reapply accreditation vars in binder compose (#410)
  compose.yml
Due: none

pass a blank notify key when starting the stack locally
  CONTRIBUTING.md
  docs/guides/admin-local-login.md
  docs/guides/local-login.md
  package.json
Due: prettier --write

ADR-0027: accept adr branch names in pr preparation
  .github/actions/pr-preparation/action.yml
  .github/actions/pr-preparation/check-branch.mjs
  .github/actions/pr-preparation/check-branch.test.mjs
  .github/workflows/check-pull-request.yml
Due: none

PAE-000: parameterise reapply accreditation vars
  compose.yml
Due: none

ADR-0027: accept adr branch names in pr preparation (#416)
  .github/actions/pr-preparation/action.yml
  .github/actions/pr-preparation/check-branch.mjs
  .github/actions/pr-preparation/check-branch.test.mjs
  .github/workflows/check-pull-request.yml
Due: none

lld: settle row-states repository on the plural spelling
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

PAE-000: settle summary-log-row-states repository naming (#421)
  docs/architecture/defined/summary-log-submission-lld.md
Due: prettier --write

PAE-1824: Add ADR 0045 on feature-flag mechanism across EPR services
  docs/architecture/decisions/0045-feature-flag-mechanism-across-epr-services.md
  docs/architecture/decisions/index.md
Due: prettier --write, npm run adr:generate:toc
